<div class="container auth">
    <div class="auth-header">
        <h3 class="auth-header-title">Hello</h3>
        <h4 class="auth-header-secondary-title">It's nice to meet you</h4>
        <p class="auth-header-description">Please fill the fields below and join to our community</p>
    </div>

    <form class="form-horizontal col-md-4 col-md-offset-4 col-xs-12" ng-submit="submit()">
        <div class="form-group input-container">
            <input type="email" class="form-control auth-input" name="registerData.email" ng-model="registerData.email"
                   ng-readonly="readOnly" placeholder="E-mail address">
            <span class="auth-input-edit" ng-class="{'hidden': !readOnly}" ng-click="enableInput()"></span>
        </div>
        <div class="form-group">

            <input type="text" class="form-control auth-input" name="registerData.firstName"
                   ng-model="registerData.firstName" placeholder="Firstname" required>
        </div>
        <div class="form-group">

            <input type="text" class="form-control auth-input" name="registerData.lastName"
                   ng-model="registerData.lastName" placeholder="Lastname" required>
        </div>
        <div class="form-group">
            <div class="auth-gender-checkbox auth-gender-checkbox-male" ng-class="{'active': isMale}"
                 ng-click="userGender('male')">
                <input type="checkbox" name="registerData.gender" ng-model="registerData.male" value="male" hidden>
            </div>
            <div class="auth-gender-checkbox auth-gender-checkbox-female pull-right" ng-class="{'active': isFemale}"
                 ng-click="userGender('female')">
                <input type="checkbox" name="registerData.gender" ng-model="registerData.female" value="female" hidden>
            </div>

        </div>
        <div class="form-group">

            <md-datepicker class="auth-data-picker" ng-model="registerData.date" md-placeholder="Enter date"
                           required></md-datepicker>

        </div>
        <div class="form-group">
            <input type="password" class="form-control auth-input" name="registerData.password"
                   ng-model="registerData.password" placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn auth-action">Create account</button>
        </div>
        <p class="auth-footer">I already have account, <a href="/login">log in.</a></p>

    </form>
</div>
