<div class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-md-3 col-xs-12">
                <div class="module profile-shortcut">
                    <div class="profile-shortcut-avatar">
                        <img ng-if="userData.avatar.currentName"
                             ng-src="/uploads/{{userData._id}}/thumb-{{userData.avatar.currentName}}"
                             alt="{{userData.firstName}} {{userData.lastName}} profile photo">
                        <img ng-if="!userData.avatar.currentName" ng-src="/images/no-avatar-big.png"
                             alt="{{userData.firstName}} {{userData.lastName}} profile photo">

                    </div>
                    <a ng-href="/profile/{{userData._id}}" class="profile-shortcut-username">{{userData.firstName}} {{userData.lastName}}</a>
                    <h6 class="profile-shortcut-place">{{userData.placeOfResidence.name}}</h6>
                    <ul class="profile-shortcut-menu">
                        <li class="profile-shortcut-menu-element">
                            <ul class="profile-shortcut-friends">
                                <li class="profile-shortcut-friends-element">
                                    <a ng-href="/profile/{{userData._id}}/following">
                                        <span>Following</span>
                                        <span>{{following}}</span>
                                    </a>
                                </li>
                                <li class="profile-shortcut-friends-element">
                                    <a ng-href="/profile/{{userData._id}}/followers">
                                        <span>Followers</span>
                                        <span>{{followers}}</span>
                                    </a>
                                </li>
                            </ul>


                        </li>
                        <li class="profile-shortcut-menu-element"><a ng-href="/profile/{{userData._id}}/gallery">
                            <span class="gallery-ico"></span>Gallery
                        </a></li>
                        <li class="profile-shortcut-menu-element"><a href="#">
                            <span class="stats-ico"></span>Show my statistics
                        </a></li>
                    </ul>
                </div>

            </div>

            <div class="col-md-6 col-xs-12" infinite-scroll="loadPosts()" infinite-scroll-distance="3">


                <div class="state-box" ng-click="statusAddActive(true)" ng-class="stateBoxClass">
                    <ul class="state-box-list">
                        <li class="state-box-list-element"><a href="#" ng-click="showType='text'"
                                                              class="update-status-ico active">Update
                            status</a></li>
                        <li class="state-box-list-element"><a ng-href="/profile/{{userData._id}}" class="add-photo-ico">Add
                            photo</a></li>
                        <li class="state-box-list-element"><a href="#" ng-click="showLocation()" class="check-out-ico">Check
                            out</a></li>
                    </ul>
                    <form id="typeText" ng-if="showType=='text'" ng-submit="addPost($event)">
                        <div class="form-group">
                        <textarea class="state-box-input" placeholder="How you doin’ ?"
                                  ng-model="$parent.post.textContent"
                                  name="post.textContent"></textarea>
                        </div>
                        <div class="state-box-footer">
                            <button type="submit" class="btn btn-primary pull-right state-box-submit">Share</button>
                        </div>
                    </form>
                    <form id="typeLocation" ng-if="showType=='location'">
                        <h4 class="wall-post-data-location-name"><span class="glyphicon glyphicon-map-marker"></span>{{locationAddress}}
                        </h4>


                        <img ng-src="{{$parent.img_url}}">
                        <div class="state-box-footer">
                            <button type="submit" class="btn btn-primary pull-right state-box-submit"
                                    ng-click="shareLocation()">Share
                            </button>
                        </div>
                    </form>
                    <div class="clearfix"></div>
                </div>
                <div class="no-posts" ng-if="postsData.length==0">
                    <h4 class="no-posts-title">There's no content to show</h4>
                   <p class="no-posts-secondary-text"> <a ng-href="/profile/{{userData._id}}" class="no-posts-link">Complete your profile</a>
                    and
                    <a href="/browse" class="no-posts-link">follow users</a>
                    to grow up your newsfeed</p>
                </div>
                <div class="module wall-post" ng-repeat="post in postsData track by $index">
                    <div class="btn-group pull-right wall-post-options" ng-if="post.author._id==userData._id">
                        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="glyphicon glyphicon-option-vertical"></span>
                        </button>
                        <ul class="dropdown-menu">
                            <li><a href="#a" ng-click="removePost(post._id)">Remove post</a></li>
                        </ul>
                    </div>
                    <div class="wall-post">
                        <div class="wall-post-header">
                            <h5 class="wall-post-action-name"><a ng-href="/profile/{{post.author._id}}">{{post.author.firstName}}
                                {{post.author.lastName}}</a> <span ng-if="post.type == 'image'">added a new photo</span><span
                                    ng-if="post.type == 'text'">updated status</span>
                                <span
                                        ng-if="post.type == 'location'">checked in</span>
                            </h5>
                            <h5 class="wall-post-date">{{post.date | date:'dd MMMM yyyy h:mm:ss a'}}</h5>
                        </div>
                        <div class="wall-post-data wall-post-data-image" ng-if="post.type == 'image'">
                            <img src="../../../images/user2.jpg" alt="photo">
                        </div>
                        <div class="wall-post-data wall-post-data-text" ng-if="post.type == 'text'">
                            <p ng-bind-html="post.attachments[0].textContent | parseYouTubeFilter:'_blank':'otherProperty'"></p>
                        </div>
                        <div class="wall-post-data wall-post-data-image" ng-if="post.type == 'location'">
                            <h4 class="wall-post-data-location-name"><span
                                    class="glyphicon glyphicon-map-marker"></span>{{post.attachments[0].locationName}}
                            </h4>
                            <img ng-src="https://maps.googleapis.com/maps/api/staticmap?center={{post.attachments[0].latitude}},{{post.attachments[0].longitude}}&zoom=14&size=400x200"
                                 alt="photo">
                        </div>

                        <div class="wall-post-comments">
                            <button class="wall-post-like-button" ng-click="addLike(post._id,post)">
                                <span class="glyphicon glyphicon-heart"></span>
                            </button>
                            <p class="wall-post-like-number">
                                {{post.likes.length}}
                            </p>

                            <div class="wall-post-add-comment" ng-class="{'no-comments': post.comments.length==0}">
                                <div class="wall-post-add-comment-avatar">
                                    <img ng-if="userData.avatar.currentName"
                                         ng-src="/uploads/{{userData._id}}/thumb-{{userData.avatar.currentName}}"
                                         alt="{{userData.firstName}} {{userData.lastName}} profile photo">
                                    <img ng-if="!userData.avatar.currentName" ng-src="/images/no-avatar.png"
                                         alt="{{userData.firstName}} {{userData.lastName}} profile photo">
                                </div>
                                <div class="wall-post-add-comment-input" ng-class="{'input-active': isActive}">
                                    <form ng-submit="addComment(post._id, post.comment, post)">
                                        <textarea placeholder="Add Comment" ng-model="post.comment"
                                                  ng-click="isActive=true"></textarea>
                                        <div class="wall-post-add-comment-input-options">
                                            <button type="submit" class="btn wall-post-add-comment-submit pull-right"
                                                    ng-click="isActive=false"></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                            <div class="wall-post-comment" ng-repeat="comment in post.comments">
                                <div class="wall-post-comment-avatar">
                                    <img ng-if="comment.author.avatar.currentName"
                                         ng-src="/uploads/{{comment.author._id}}/thumb-{{comment.author.avatar.currentName}}">
                                    <img ng-if="!comment.author.avatar.currentName" ng-src="/images/no-avatar.png">

                                </div>
                                <div class="wall-post-comment-body">
                                    <div class="wall-post-comment-header">
                                        <a href="/profile/{{comment.author._id}}" class="wall-post-comment-author">
                                            {{comment.author.firstName}} {{comment.author.lastName}}
                                        </a>
                                        <h4 class="wall-post-comment-date">
                                            {{comment.date | date:'dd MMMM yyyy h:mm:ss a'}}
                                        </h4>
                                    </div>
                                    <p class="wall-post-comment-content">
                                        {{comment.content}}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <span class="wall-post-comments-load" ng-if="post.comments.length>2"
                              ng-click="loadNumber = loadNumber+3;loadComments(post._id, post,loadNumber)">Show more</span>

                    </div>

                </div>
            </div>
            <div class="col-md-3 col-xs-12">
                <div class="module latest-visits">
                    <h3 class="latest-visits-header">Latest visits</h3>
                    <ul class="visitors-list" ng-style="{'margin-left': marginLeft}" ng-if="lastVisitors.length>0">
                        <li class="visitors-list-element" ng-repeat="visitor in lastVisitors track by $index">

                            <a ng-href="/profile/{{visitor.user._id}}" title="{{visitor.user.firstName}} {{visitor.user.lastName}}" class="visitor-avatar">
                                <img ng-if="visitor.user.avatar.currentName"
                                     ng-src="/uploads/{{visitor.user._id}}/thumb-{{visitor.user.avatar.currentName}}">
                                <img ng-if="!visitor.user.avatar.currentName" ng-src="/images/no-avatar.png">
                            </a>

                            <a href="#" style="display: none"></a>
                        </li>
                    </ul>
                    <div class="latest-visit-nav-container" ng-if="lastVisitors.length>0">
                        <div class="latest-visits-nav" ng-click="slideLeft()"><span
                                class="glyphicon glyphicon-menu-left"></span></div>
                        <div class="latest-visits-nav" ng-click="slideRight()"><span
                                class="glyphicon glyphicon-menu-right"></span></div>
                    </div>
                    <span class="no-notifications" ng-if="lastVisitors.length < 1">No visits :(</span>
                </div>
            </div>
        </div>
    </div>
    <div class="background-board" ng-click="statusAddActive(false)" ng-class="backgroundStateClass"></div>
</div>