<div class="container-fluid">
    <div class="container">
        <div class="gallery">
            <div ng-repeat="following in userData" class="col-sm-4 col-md-3 col-xs-12 gallery-element">
                <div class="btn-group" ng-hide="!isValidUser">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#a" ng-click="removeFriend(following.user._id)">Remove friend</a></li>

                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </div>
                <a class="thumbnail" ng-href="/profile/{{following.user._id}}">

                    <img ng-src="/uploads/{{following.user._id}}/thumb-{{following.user.avatar.currentName}}"
                         alt="Image">

                </a>
                {{following.user.firstName}}
                {{following.user.lastName}}
            </div>
        </div>
    </div>
</div>