@font-face {
  font-family: NunitoRegular;
  src: url(../fonts/Nunito/Nunito-Regular.ttf);
}
@font-face {
  font-family: NunitoSemiBold;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf);
}
@font-face {
  font-family: NunitoBold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf);
}
@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/Raleway/Raleway-Regular.ttf);
}
@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/Raleway/Raleway-Medium.ttf);
}
@font-face {
  font-family: RalewaySemiBold;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf);
}
@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway/Raleway-Bold.ttf);
}