.circle{
  border-radius: 100%;
}
.no-background{
  background: none;
  border: none;
}
.no-padding-left-right{
  padding-left: 0 !important;
  padding-right: 0 !important;
}
label{
  font-weight: normal;
}
.form-control{
  box-shadow: none;
}
.background-board{
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
  transition: all .4s;
  display: none;
  &.show{
    display: block;
    opacity: .4;
  }
}
input[type="text"].form-control{
  border: 1px solid #ccdae9;
  border-radius: 20px;
}
input[type="text"]:focus{
  box-shadow: none !important;
  border: 1px solid #8fa6bd;
}
md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar){
  background-color: $blue-message !important;
}
.no-padding-right{
  padding-right: 0 !important;
}
.no-padding-left{
  padding-left: 0 !important;
}
.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }
.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; }
.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; }
.selectdemoSelectHeader md-content._md {
  max-height: 240px; }
.no-wrap{
  white-space: nowrap;
}
.no-hover{
  cursor: auto;
  &:hover{
    background: none !important;
  }
}