$circle-blue: #e0f0ff;
$dark-blue:   #2c3d52;
$counter-blue: #f6faff;
$counter-header-font: #85a0ba;
$gray-blue: #8594aa;
$placeholder-color: #bac7da;
$red: #ef264d;
$green: #54b163;
$blue-message: #3872c9;
