html, body {
  background: #f8fbfd;
}

.main-navbar {
  min-height: 68px !important;
  background: white;
  -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, .5);
  box-shadow: 0 0 15px 0 rgba(198, 204, 212, .5);
  padding: 0;
  margin-bottom: 7px;
  position: fixed;
  top: 0;
  width: 100%;
  &-helper {
    height: 68px;
    width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 7px;
  }
  
  .navbar-brand {
    padding: 8px 20px;
    height: 20px;
  }
  .nav {
    > a {
      padding: 23px 20px;
    }
  }
  .navbar-form {
    margin-top: 0;
    margin-bottom: 0;
  }
  .searchbox {
    position: relative;
    margin-top: 9px;
    margin-left: 120px;
    .search-results {
      background: white;
      -webkit-box-shadow: 0 5px 15px 0 rgba(198, 204, 212, .67);
      box-shadow: 0 5px 15px 0 rgba(198, 204, 212, .67);
      border-radius: 10px;
      position: absolute;
      height: auto;
      width: 100%;
      padding: 10px 0;
      > li {
        list-style: none;
        padding: 3px 15px;
        transition: background .2s;
        &:hover {
          background: #eef2f6;
        }

      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        &:hover {
          text-decoration: none;
        }
      }
      &-image {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      &-details {
        vertical-align: middle;
        display: inline-block;

      }
      &-username {
        font-size: 15px;
        font-family: RalewayMedium;
        padding-left: 12px;
        margin-bottom: 2px;
      }
      &-location {
        font-size: 13px;
        color: #afb8c2;
        padding-left: 12px;
      }
    }
    &-input {
      width: 470px;
      height: 45px;
      border-radius: 23px;
      border-color: #dce8f4;
      font-family: RalewayMedium;
      font-size: 15px;
      padding-left: 27px;
      padding-right: 40px;
      ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: $placeholder-color;
      }
      ::-moz-placeholder { /* Firefox 19+ */
        color: $placeholder-color;
      }
      :-ms-input-placeholder { /* IE 10+ */
        color: $placeholder-color;
      }
      :-moz-placeholder { /* Firefox 18- */
        color: $placeholder-color;
      }
    }
    &-submit {
      width: 16px;
      height: 16px;
      background: url("../images/icons/searcher.png") no-repeat;
      border: none;
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .user-navbar {
    // margin-top: 7px;
    &-counter {
      //padding: 10px;
      color: white;
      width: 20px;
      height: 20px;
      background: #ed1d45;
      border-radius: 100%;
      position: absolute;
      margin-top: 8px;
      display: block;
      text-align: center;
      z-index: 3;
      font-size: 11px;
      padding-top: 1px;
      font-family: NunitoSemiBold;
      &:after {
        position: relative;
        width: 28px;
        height: 28px;
        right: 4px;
        background: #ed1d45;
        opacity: .4;
        display: block;
        content: '';
        top: -25px;
        z-index: -1;
        border-radius: 100%;
        animation: scaleAnimation 1.3s 1;
        animation: scalePulse 1.1s infinite alternate linear;
        animation-timing-function: linear;
      }
    }
    @keyframes scaleAnimation {
      from {
        transform: scale(0);
      }
      to {
        transform: scale(1);
      }
    }
    @keyframes scalePulse {
      0% {
        transform: scale(1);
        opacity: .4;
      }
      25% {
        transform: scale(0.9);
        opacity: .3;

      }
      50% {
        transform: scale(0.8);
        opacity: .2;

      }
      75% {
        transform: scale(0.9);
        opacity: .3;

      }
      100% {
        transform: scale(1);
        opacity: .4;

      }
    }
    > li.open {
      transition: all 5.3s;

      .dropdown-menu {
        opacity: 1;
        transform: translateY(0px);
        transition: all 5.3s;
      }
    }
    > li {
      transition: all 5.3s;

    }
    .dropdown-menu {
      opacity: 0;
      z-index: 999;
      border-radius: 10px;
      border: none !important;
      margin-top: 20px;
      -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, .67);
      box-shadow: 0 0 15px 0 rgba(198, 204, 212, .67);
      transform: translateY(30px);
      transition: all 5.3s;
      > li {
        border-bottom: 1px solid #dbe1e8;

        &:last-child{
          border-bottom: none;
        }
      }

      &:before {
        width: 20px;
        height: 20px;
        // background: red;
        font-family: 'Glyphicons Halflings';
        color: white;
        display: block;
        content: "\e253";
        margin-top: -27px;
        float: right;
        position: absolute;
        right: 20px;
        font-size: 24px;
      }
      .message-details {
        margin-top: 12px;
        display: inline-block;
        vertical-align: top;
        &-username {
          font-size: 13.5px;
        }
        &-username, &-date {

          font-family: RalewaySemiBold;
          padding: 0 8px;
          margin: 0;
        }
        &-text {
          padding: 0 8px;
          font-size: 13px;
        }
        &-date {
          font-size: 13px;
          padding: 4px 8px !important;
          color: #c5cbd2;
        }
      }
      .message-user-avatar {
        margin-top: 12px;
        width: 40px;
        height: 40px;
        display: inline-block;
        vertical-align: top;
        img {
          width: 100%;
          height: 100%;
          border-radius: 100%;
          object-fit: cover;
        }
      }
    }
    &-notifications {
      > a {
        padding: 33px 28px;
      }
      .dropdown-toggle {
        background: url("../images/icons/bell.png") no-repeat center;
      }
      margin-right: 10px;
    }
    &-messages {
      .dropdown-menu{
        max-height: 250px;
        padding-bottom: 55px !important;
        a{
          display: flex;
          padding-left: 10px;
          &:hover{
            text-decoration: none;
          }
        }
      }
      > a {
        padding: 33px 28px;
      }
      .dropdown-toggle {
        background: url("../images/icons/envelope.png") no-repeat center;
      }

      margin-right: 13px;
    }
    &-shortcut {
      li {
        border: none !important;
      }
      .dropdown-menu {
        a {
          font-family: RalewayMedium;
          font-size: 14px;
          padding: 8px 15px;
        }

      }
      .dropdown-toggle {
        padding: 8px 10px;
        font-family: NunitoSemiBold;
        letter-spacing: .2px;
        font-size: 15px;
        color: $dark-blue;
        .username {
          font-family: NunitoBold;
        }
        > * {
          display: inline-block;
          vertical-align: middle;
        }
      }
    }
    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
      margin-right: 15px;
    }
  }
}

.tabs {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #e2ecf6;
  &-list {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    &-element {
      list-style: none;
      a {
        padding: 20px 20px;
        display: block;
        font-size: 15px;
        font-family: RalewayMedium;
        &:hover {
          text-decoration: none;
        }
        &.active {
          font-family: RalewayBold;
          &:after {
            width: 130%;
            height: 4px;
            border-radius: 10px;
            background: #ed1d45;
            display: block;
            content: '';
            bottom: -20px;
            left: -15%;
            position: relative;
          }
        }
      }
    }
  }
}

.module {
  min-height: 200px;
  background: white;
  border-radius: 10px;
  border: 1px solid #e2ecf6;
  margin-top: 25px;
  &-header {
    margin: 0;
    padding: 30px 30px;
    font-size: 21px;
    font-family: NunitoSemiBold;
    .edit {
      width: 23px;
      height: 23px;
      display: block;
      float: right;
      &.active {
        background-size: 95%;
        color: #949ba4;
      }
    }
    .save {
      width: 25px;
      height: 25px;
      display: block;
      float: right;
      margin-right: 10px;
      cursor: pointer;
      background: none;
      border: none;
    }
  }
}

.profile-shortcut {
  &-avatar {
    width: 112px;
    height: 112px;
    margin-top: 23px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 15px;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-username {
    //margin-top: 20px;
    font-family: RalewayBold;
    font-size: 19px;
  display: block;
    margin: auto;
  }
  &-place {
    font-family: RalewayMedium;
    font-size: 15px;
    padding-top: 0px;
    margin-top: 8px !important;
  }
  &-username, &-place {
    text-align: center;
  }
  &-menu {
    margin-top: 25px;
    margin-bottom: 0;
    padding: 0;
    &-element {
      border-bottom: 1px solid #e2ecf6;
      list-style: none;
      &:last-child {
        border: none;
      }
      a {
        padding: 13px 20px;
        display: block;
        font-family: RalewayMedium;
        font-size: 15px;
      }
    }
  }
  &-friends {
    padding: 0;
    border-top: 1px solid #e2ecf6;
    &-element {
      list-style: none;
      display: inline-block;
      width: 49.3%;
      box-sizing: border-box;
      &:first-child {
        border-right: 1px solid #e2ecf6;
      }
      a {
        width: 100%;
        height: 100%;
        display: block;
        padding: 15px;
        text-align: center;
        &:hover {
          text-decoration: none;
        }
        span {
          width: 100%;
          text-align: center;
          display: block;
          &:first-child {
            color: #8f9cab;
            font-size: 13px;
            font-family: RalewayMedium;
          }
          &:nth-child(2) {
            font-family: RalewayBold;
            font-size: 21px;
          }
        }
      }
    }
  }
}

.gallery-ico {
  width: 21px;
  height: 17px;
  background: url("../images/icons/image.png") no-repeat;
  display: block;
  float: left;
  margin-right: 20px;
}

.stats-ico {
  width: 20px;
  height: 20px;
  background: url("../images/icons/chart.png") no-repeat;
  display: block;
  float: left;
  margin-right: 20px;
}

.state-box {
  border-radius: 10px;
  background: white;
  height: 126px;
  -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, .5);
  box-shadow: 0 0 15px 0 rgba(198, 204, 212, .5);
  margin-top: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: .4s all;
  #typeLocation {
    img {
      display: block;
      margin: 20px auto;
    }
    > h4 {
      padding: 20px;
      padding-bottom: 0;
    }
  }
  &.focused {
    z-index: 9;
  }
  &-footer {
    transform: translateY(50px);
    opacity: 0;
    width: 100%;
    height: 55px;
    border-top: 1px solid #f1f6fb;
    padding: 10px;
    transition: 0s 0s all;
  }
  &-submit {
    background: $red;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    font-size: 15px;
    -webkit-box-shadow: 0 6px 9px 0 rgba(237, 29, 69, .5);
    box-shadow: 0 6px 9px 0 rgba(237, 29, 69, .5);
    transition: background .2s;
    &:focus, &:active, &:hover {
      color: white !important;
      background: #d90e35 !important;
    }
  }
  &.focused {
    -webkit-box-shadow: 0 0 15px 0 rgba(71, 75, 75, .8);
    box-shadow: 0 0 15px 0 rgba(71, 75, 75, .8);
    height: auto;
    .state-box-input {
      height: 200px;
    }
    .state-box-footer {
      transform: translateY(0px);
      opacity: 1;
      transition: .4s .2s all;
    }

  }
  &-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #e2ecf6;
    margin-bottom: 0;
    &-element {
      list-style: none;
      a {
        font-family: RalewaySemiBold;
        color: #8f9cab;
        font-size: 15px;
        float: right;
        padding: 18px 20px 15px 20px;
        &:before {
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          content: '';
          opacity: .6;
          margin-right: 15px;
        }
        &.update-status-ico:before {
          background: url("../images/icons/pencil.png") no-repeat center;
        }
        &.add-photo-ico:before {
          background: url("../images/icons/camera.png") no-repeat center;
        }
        &.check-out-ico:before {
          background: url("../images/icons/map.png") no-repeat center;
        }
        &.active {
          color: $dark-blue;
          &:before {
            opacity: 1;
          }
        }
      }
    }
  }
  &-input {
    resize: none;
    height: 70px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 20px 15px;
    font-size: 16px;
    color: $dark-blue;
    transition: all .4s;
    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
      color: #8e9eb1;
    }
    &::-moz-placeholder { /* Firefox 19+ */
      color: #8e9eb1;
    }
    &:-ms-input-placeholder { /* IE 10+ */
      color: #8e9eb1;
    }
    &:-moz-placeholder { /* Firefox 18- */
      color: #8e9eb1;
    }
    &:focus {
      height: 200px;
    }
  }
}

.wall-post {
  &-options{
    margin-right:-31px;
    button{
      padding: 5px 2px;
      font-size: 15px;
      border: 1px solid #e2ecf6;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  &-like-number{
    display: block;
    left: 58%;
    right: 0;
    margin: auto;
    top: -12px;
    position: absolute;
    font-size: 20px;
    font-family: NunitoBold;
  }
  &-like-button {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 15px 0 #c6ccd4;
    box-shadow: 0 0 15px 0 #c6ccd4;
    background: white;
    border: none;
    border-radius: 100%;
    font-size: 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: -25px;
    position: absolute;
    transition: all .3s;
    span {
      color: #405064;
      padding-top: 9px;
    }
    &:hover {
      transform: scale(1.1);
      background: #f3f6f9;
    }
  }
  &.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }
  /* The finishing CSS styles for the enter animation */
  &.ng-enter.ng-enter-active {
    opacity: 1;
  }
  padding: 8px 10px;
  &-header {
    display: flex;
    justify-content: space-between;
  }
  &-action-name {
    font-family: RalewayMedium;
    font-size: 15px;
    a {
      font-family: RalewaySemiBold;
      font-size: 15px;
    }
  }

  &-date {
    color: #afb8c2;
  }
  &-data {
    margin-top: 14px;
    .embed-responsive{
      margin-top: 8px;
      margin-bottom: 8px;
    }
    &-location-name {
      font-size: 15px;
      font-family: RalewayMedium;
      color: #8f9cab;
      margin-top: 0;
      margin-bottom: 12px;
      span {
        margin-right: 5px;
      }
    }
    &-image {
      width: 100%;
      max-height: 600px;
      overflow: hidden;
      margin-bottom: 25px;
      img {
        width: 100%;
      }
    }
    &-text {
      font-size: 24px;
      font-family: NunitoSemiBold;
      color: $dark-blue;
      margin-bottom: 30px;
      line-height: 30px;
      a {
        font-size: 20px;
        display: block;
        width: 100%;
        padding: 15px 20px;
        word-break: break-all;
        line-height: 25px;
        border: 1px solid #e2ecf6;
        border-radius: 10px;
        background: #fdfdfd;
        margin-bottom: 10px;
        margin-top: 10px;
      }
    }
  }
  &-comments {
    top: 10px;
    width: 100%;
    min-height: 30px;
    background: #f4f7fa;
    border-radius: 10px;
    padding: 20px;
    // overflow: hidden;
    margin-bottom: 15px;
    position: relative;
    &-load {
      width: 100%;
      height: 37px;
      background: #e9f0f7;
      display: block;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      padding: 10px;
      color: #afb9c0;
      font-family: RalewayMedium;
    }
  }
  &-add-comment {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    &.no-comments {
      margin-bottom: 0 !important;
    }
    &-avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    &-submit {
      width: 18px;
      height: 12px;
      background: url("../images/add-comment-ico.png") no-repeat;

    }
    &-input {
      width: 85%;
      position: relative;
      overflow: hidden;
      &.input-active {
        textarea {
          border-radius: 4px;
          height: 100px;
          & + .wall-post-add-comment-input-options {
            bottom: 0;
            opacity: 1;
          }
        }
      }
      &-options {
        overflow: hidden;
        width: 100%;
        border-top: 1px solid #edf3f9;
        height: 25px;
        bottom: -25px;
        position: absolute;
        padding: 5px;
        transition: all .2s .4s;
        opacity: 0;
      }

      textarea {
        width: 100%;
        border-radius: 25px;
        border: 1px solid #dce8f4;
        resize: none;
        height: 50px;
        padding: 15px 25px;
        overflow: hidden;
        transition: all .6s;

      }
    }
  }
  &-comment {
    &.ng-enter {
      transition: 0.5s linear all;
      opacity: 0;
    }
    /* The finishing CSS styles for the enter animation */
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between;
    &-body {
      width: 84%;
    }
    &-content {
      font-size: 13px;
      margin-top: 0px;
    }
    &-header {
      display: flex;
      justify-content: space-between;
     // align-items: center;
    }
    &-author {
      font-family: RalewaySemiBold;
    }
    &-date {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 14px;
      color: #c5cbd2;
    }
    &-avatar {
      width: 57px;
      height: 57px;
      overflow: hidden;
      border-radius: 100%;
      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
  }
}

.profile-user {
  padding: 23px;
  &-avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: auto;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &-name {
    font-size: 26px;
    font-family: NunitoSemiBold;
  }
  &-city {
    margin-top: 0;
    font-size: 18px;
    color: #8d98a4;
    font-family: NunitoSemiBold;
    margin-bottom: 0;
  }
  &-nav {
    padding: 10px 0;
    width: calc(100% + 46px);
    margin-left: -23px;

    &-friends {
      @extend .profile-shortcut-friends;
      border-bottom: 1px solid #e2ecf6;

      &-element {
        @extend .profile-shortcut-friends-element;
      }
    }
    &-element {
      list-style: none;
      margin-top: 15px;
      padding-left: 20px;
      padding-right: 20px;
      &:first-child{
        padding-left: 0px;
        padding-right: 0px;
      }
      a {
        width: 100%;
        padding-top: 11px;
        padding-bottom: 9px;
        text-align: center;
        display: block;
        border-radius: 24px;
        font-size: 17px;
        font-family: NunitoSemiBold;
        &.follow {
          border: 2px solid $green;
          color: $green;
          margin-top: 25px !important;

        }
        &.following {
          border: 2px solid #bdcfe2;
          color: #abc0d5;
          margin-top: 25px !important;
          span:last-child {
            display: none;
          }
          &:hover {
            background: #ed1d45;
            border: 2px solid #ed1d45;
            color: white;
            span:first-child {
              display: none !important;
            }
            span:last-child {
              display: block;
            }
          }
        }
        &.message {
          background: $blue-message;
          color: white;
        }
        &:hover {
          text-decoration: none;
        }
      }
    }
  }

}

.profile-gallery {
  margin-top: 25px;
  > div.ng-enter {
    transition: 0.5s linear all;
    opacity: 0;
  }
  /* The finishing CSS styles for the enter animation */
  > div.ng-enter.ng-enter-active {
    opacity: 1;
  }
  &-element {
    overflow: hidden;
    height: 150px;
    display: block;
    border-radius: 10px;
    width: 100%;
    &.show-more {
      background: #e8f1f7;
      font-size: 24px;
      font-family: NunitoBold;
      color: #8d98a4;
      padding-top: 60px;
    }
    &.add-photo {
      text-decoration: none;
      padding-top: 47px;
      background: white;
      -webkit-box-shadow: 0 0 30px 0 rgba(73, 155, 209, .3);
      box-shadow: 0 0 30px 0 rgba(73, 155, 209, .3);
      transition: all .2s;
      &:hover {
        -webkit-box-shadow: 0 0 30px 0 rgba(73, 155, 209, .5);
        box-shadow: 0 0 30px 0 rgba(73, 155, 209, .5);
        transform: scale(1.05);
      }
      span {
        width: 100%;
        font-size: 35px;
      }
      text-align: center;
      color: #3872c9;
      font-family: NunitoBold;
      font-size: 18px;
    }
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
}

.profile-info {
  &-row {
    padding: 0 25px;
    border-bottom: 1px solid #e2ecf6;
    &:last-child {
      border-bottom: none;
    }
  }
  &-subtitle {
    font-size: 14px;
    color: #8d98a4;
    font-family: RalewayMedium;
  }
  .profile-info-input[readonly], .profile-info-input[disabled] {
    font-family: RalewaySemiBold;
    font-size: 16px;
    padding: 0;
    background: none;
    border: none;
    color: $dark-blue;
    cursor: text;
  }
}

.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}

.dragover {
  border: 5px dashed blue;
}

.upload {
  position: relative;
  background-color: #fff;
  &-container {
    width: 100%;
    height: 230px;
    position: relative;
  }
  &-file-browse {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    z-index: 0;
    cursor: pointer;
  }
  &-preview-list {
    padding-left: 0;
    &-element {
      display: inline-block;
      margin-left: 15px;
      position: relative;
      &-options {
        display: none;
        position: absolute;
        right: 0;
        top: 18px;
      }
      &:hover {
        .upload-preview-list-element-options {
          display: block;
        }
      }
      &:first-child {
        margin-left: 0;
      }
    }
    &-thumb {
      width: 120px;
      height: 120px;
      border-radius: 5px;
      canvas {
        width: 120px;
        height: 120px;
        border-radius: 5px;
      }
    }
  }
  &-drag-title {
    font-size: 24px;
    font-family: NunitoSemiBold;
    color: $blue-message;
    text-align: center;
  }
  &-drag-subtitle {
    font-size: 17px;
    font-family: NunitoRegular;
    color: #a5afbe;
    text-align: center;
    a {
      color: #a5afbe;
      text-decoration: underline;
    }
  }
  &-drag-zone {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #eff3f9;
    height: 230px;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    background: #FFF;
    pointer-events: none;
    * {
      transition: all .4s;
    }
    &-over {
      border-color: #a5afbe;
      * {
        transform: scale(.9);
      }
    }
  }
}

.gallery {
  &-element {
    position: relative;
    a{
      &:hover{
        text-decoration: none;
      }
    }
    &.ng-enter {
      transition: 0.5s linear all;
      opacity: 0;
    }
    /* The finishing CSS styles for the enter animation */
    &.ng-enter.ng-enter-active {
      opacity: 1;
    }
    .btn-group {
      position: absolute;
      top: 35px;
      right: 20px;
      display: none;
      z-index: 2;
    }
    &:hover {
      .btn-group {
        display: block;
      }
    }
    &-location{
      font-family: RalewayMedium;
      font-size: 15px;
      margin-bottom: 0;
    }
    &-title{
      font-family: NunitoSemiBold;
      font-size: 20px;
      margin-bottom: 0;
    }
  }
  .thumbnail {
    overflow: hidden;
    border-radius: 5px;
    margin-top: 30px;
    background: black;
    height: 250px;
    padding: 0;
    margin-bottom: 10px;
    border: none;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: opacity .2s;
    }
    &:hover {

      img {
        opacity: .8;
      }
    }
  }
}

.messages-container {
  background: white;
  height: calc(100vh - 200px);
  border: 1px solid #e4edf7;
  border-left: none;
 // overflow-y: scroll;
  margin-top: 25px;
}

.messages-input {
  width: 100%;
  height: 100%;
}

.messages-list {
  padding: 0;
  &-avatar {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-element {
    list-style: none;
    clear: both;
    padding: 8px 25px;
  }
  &-alien-message {
    max-width: 50%;
    background: #e4edf7;
    border-radius: 10px;
    min-width: 10%;
    padding: 12px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px;
  }
  &-my-message {
    max-width: 50%;
    min-width: 20%;
    background: #5795da;
    border-radius: 10px;
    float: right;
    color: white;
    padding: 12px;

  }
}
.messages-textbox-container{
  background: red;
  height: 80px;
  position: relative;
  .messages-input{
    height: 100%;
    display: block;
    position: absolute;
    border: 1px solid #e4edf7;
    border-left: none;
    border-top: none;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 90px;
  }
  .send-message-input{
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 20px;
    margin-right: 5px;
    margin-top: 18px;
    span{
      color: $blue-message;
      font-size: 18px;
    }
  }
}
.conversation-list {
  padding: 0;
  background: white;
  height: calc(100vh - 120px);
  border: 1px solid #e4edf7;
  margin-top: 25px;
  overflow: hidden;
  &-element.unreaded {

    background: #f5f8fc;

  }
  &-name {
    font-family: RalewaySemiBold;
    font-size: 15px;
    color: $dark-blue;
    margin-bottom: 2px;
  }
  &-details {
    display: inline-block;
    vertical-align: middle;
  }
  &-search-input {
    height: 60px;
    border: none;
    border-bottom: 1px solid #e4edf7 !important;
    width: 100%;
    font-size: 15px;
    font-family: RalewayRegular;
    padding-left: 50px;
    background: url("../images/icons/search-con-ico.png") no-repeat 9%;
    &:focus {
      border: none !important;
      border-bottom: 1px solid #e4edf7 !important;
    }
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #b6c5d5;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: #b6c5d5;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: #b6c5d5;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: #b6c5d5;
  }
  &-element {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer;
    &:first-child {
      padding: 0 !important;
    }
    &:hover {
      background: #f5f8fc;
    }
    a {
      &:hover {
        text-decoration: none;
      }
    }
  }
  &-text, &-date {
    font-size: 13px;
    font-family: RalewayRegular;
    color: #8593a5;
  }
  &-date {
    font-size: 12px;
    color: #afbac6;
    margin-bottom: 5px;
  }
  &-avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.comparison-chart {
  background: #e8f1f7;
  border-radius: 8px;
  width: 100%;
  height: 15px;
  padding: 2px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px;
  &-percentage {
    font-family: NunitoBold;
    font-size: 28px;
    margin-top: -10px;
    display: block;
  }
  &-heart {
    position: absolute;
    color: #e7204a;
    font-size: 35px;
    top: -15px;
    text-shadow: 0 0 9px rgba(180, 30, 61, .75);

    span {
      animation: showHeart 1s 1;
      animation-timing-function: linear;
      //     animation-delay: 1.5s;
    }
    @keyframes showHeart {
      0% {
        transform: scale(0);
      }
      60% {
        transform: scale(1);
      }
      80% {
        transform: scale(.85);
      }
      100% {
        transform: scale(1);
      }
    }
  }
  &-line {
    height: 100%;
    width: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3872c9+0,ed1d45+65,ed1d45+65 */
    background: rgb(56, 114, 201); /* Old browsers */
    background: -moz-linear-gradient(left, rgba(56, 114, 201, 1) 0%, rgba(237, 29, 69, 1) 80%, rgba(237, 29, 69, 1) 80%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(56, 114, 201, 1) 0%, rgba(237, 29, 69, 1) 80%, rgba(237, 29, 69, 1) 80%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(56, 114, 201, 1) 0%, rgba(237, 29, 69, 1) 80%, rgba(237, 29, 69, 1) 80%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3872c9', endColorstr='#ed1d45', GradientType=1); /* IE6-9 */
    background-attachment: fixed !important;
    border-radius: inherit;
    transition: all 1.5s;
  }
}

.friends-list {
  width: 70px;
  height: calc(100vh - 68px);
  margin-top: -7px;
  background: #e4edf7;
  position: fixed;
  right: 0;
  padding: 0;
  z-index: 7;

  &-el {
    list-style: none;
    margin-top: 15px;
  }
  &-avatar {
    margin: auto;
    display: block;
    border-radius: 100%;
    width: 39px;
    height: 39px;
    overflow: hidden;
    position: relative;
    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    &:hover + span {
      display: block;
    }
  }
  &-details {
    display: none;
    right: 73px;
    position: absolute;
    background: #c7d2de;
    border-radius: 5px;
    padding: 7px 12px;
    margin-top: -45px;
    font-size: 13px;
    font-family: RalewaySemiBold;
    line-height: 17px;
    color: #4b5869;
    &:after {
      width: 20px;
      height: 20px;
      color: #c7d2de;
      font-family: 'Glyphicons Halflings';
      content: "\e250";
      display: block;
      font-size: 16px;
      position: absolute;
      right: -16px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto;
    }
  }
}
.mark-as-readed{
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #e7ebf0;
  border: 2px solid #d2d9e2;
  margin-top: 18.5px;
  transition: all .2s;
  &:hover{
    background: #d2d9e2;
  }
}
.single-notification{
  padding: 5px 20px;
}
.show-all-messages{
  a{
    padding: 7px !important;
    font-family: RalewayMedium;
    text-align: center;
    color: #44566e;
    display: block !important;
    border-top: 1px solid #e2ecf6;
    padding-left: 0 !important;
  }
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: white;
}
.no-notifications{
  display: block;
  padding: 10px;
  font-family: RalewayMedium;
  text-align: center;
}
.gallery-preview-container{
  height: 75vh;
  margin-top: 40px;
}
.gallery-image{
  padding-right: 0;
  height: 75vh;
  &-author{
    background: #f4f7fa;
    padding: 10px 20px !important;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2ecf6;
  }
  &-preview{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    background: black;
    height: 75vh;
    position: relative;
    img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

    }
  }
}
.gallery-comments{
  padding-left: 0;

  &-container{
    position: relative;
    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 75vh;
    border-right: 1px solid #e2ecf6;
    border-top: 1px solid #e2ecf6;
    border-bottom: 1px solid #e2ecf6;
    overflow: hidden;
  }
}
.gallery-image-comments-list{
  padding: 0;
  overflow-y: scroll;
  height: calc(100% - 148px);
}
.gallery-add-comment{
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  background: #f4f7fa;
  margin-bottom: 0;
  .wall-post-add-comment-avatar{
    width: 44px;
    height: 44px;
  }
  textarea{
    height: 44px;
    padding: 12px 20px;
  }
}
.gallery-image-comment{
  padding: 0px 20px;
  &.gallery-image-author{
  .wall-post-comment-header{
    margin-top: 15px;
  }
  }
  .wall-post-comment-avatar{
    width: 44px;
    height: 44px;
  }
}

.image-nav{
  position:relative;
  height: 75vh;
  &-button{
    width: 60px;
    height: 60px;
    border: 1px solid #d9e5f0;
    padding-top: 17px;
    border-radius: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    background: #e4edf7;
    position: absolute;
    top:0;
    bottom:0;
    margin: auto;
    transition: all .2s;
    &:hover{
      background: #d4e1ef;
    }
  }
}
.roulette-user{
  padding-right: 0;
  height: 50vh;
  margin-top: 30px;
  .profile-user-nav{
    padding: 20px;
  }
  .gallery-element-title{
    margin-top: 15px;
    font-size: 22px;
  }
  &-avatar{
    border-radius: 10px;
    overflow: hidden;
    background: black;
    height: 50vh;
    position: relative;
    img{
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;

    }
  }
}
.message-user-info{
  .profile-shortcut-friends-element{
    width: 48.3%;
  }
  .profile-shortcut-username{
    font-size: 17.5px;
    display: block;
    width: 100%;
  }
  .conversation-list-element{
    cursor: default!important;

  }
}
.latest-visits{
  overflow: hidden;
  .no-notifications{
    font-size: 23px;
    opacity: .3;
    margin-top: 40px;
  }
  &-nav{
    text-align: center;
    display:inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #e4edf7;
    font-family: NunitoBold;
    font-size: 15px;
    color: #8f9cab;
    padding-top: 5px;
  }
  &-header{
    font-size: 15px;
    font-family: RalewaySemiBold;
    padding-left: 20px;
  }
}
.latest-visit-nav-container{
  width: 64px;
  margin: auto;
}
.visitors-list{
  display: inline-flex;
  padding: 0;
  //margin: 0 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .4s;
  &-element{
    margin-right: 25px;
    list-style: none;
    .visitor-avatar{
      width: 57px;
      height: 57px;
      display: block;
      border-radius: 100%;
      overflow: hidden;
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
.no-posts{
  margin-top: 70px;
  text-align: center;
  &-title{
    font-size: 23px;
    font-family: NunitoSemiBold;
    color:#7f929f;

  }
  &-secondary-text{
    padding-top: 5px;
    font-size: 15px;
    color:#7f929f;

    a{
      font-family:RalewaySemiBold;
      color: #3b4d59;
      text-decoration: underline;
    }
  }
}
.not-readed{
  background: #edf2f7;
}