
html, body {
  font-family: RalewayRegular;
  background: white;
}

.navbar {
  position: relative;
  z-index: 2;
}

.navbar-brand {
  padding: 8px 20px;
}

.left-box, .right-box {
  display: flex;
  align-items: center;
  @media (min-width: 1601px) {
    min-height: calc(100vh - 330px);
  }
  @media (min-width: 769px) AND (max-width: 1600px) {
    min-height: calc(100vh - 190px);
  }
}

.slogan {
  margin: 0;
  font-size: 69px;
  line-height: 86px;
  @media (max-width: 769px) {
    text-align: center;
    line-height: 60px;
    font-size: 50px;
  }
  font-family: NunitoBold;
  &-first-line {
    font-size: 66px;
    @media (max-width: 769px) {
      line-height: 45px;
      font-size: 50px;
    }
  }
  small {
    font-family: RalewayRegular;
    color: $dark-blue;
    font-size: 24px;
    margin: 35px 0;
    display: block;
    @media (max-width: 769px) {
      line-height: 35px;
      font-size: 25px;
    }
  }
}

.email-box {
  margin-top: 20px;
  position: relative;
  border-radius: 50px;
  padding: 3px 3.5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9691c+0,ff8635+100 */
  background: #f9691c; /* Old browsers */
  background: -moz-linear-gradient(top, #f9691c 0%, #ff8635 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9691c 0%, #ff8635 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9691c 0%, #ff8635 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9691c', endColorstr='#ff8635', GradientType=0); /* IE6-9 */
  &-label {
    font-size: 23px;
    font-family: RalewayMedium;
    position: absolute;
    color: #a0aeba;
    top: 24px;
    left: 43px;
    pointer-events: none;
    transition: all .3s;
    &.input-focused {
      font-size: 15px;
      transform: translateY(-50px);
    }
  }
  &-input {
    border: none;
    padding: 22px 70px 22px 40px;
    height: auto;
    font-size: 23px;
    font-family: RalewayMedium;
    &:focus {
      box-shadow: none;
    }

  }
  &-submit {
    position: absolute;
    right: 13px;
    top: 10.5px;
    -webkit-box-shadow: 0 0 15px 0px rgba(237, 29, 69, 0.67);
    box-shadow: 0 0 15px 0px rgba(237, 29, 69, 0.67);
    padding: 30px;
    color: #a61f39;
    border: none;
    background: url("../images/icons/next.png") #ef264d no-repeat center;
    transition: all .4s;
    &:hover {
      background-color: #e62046;
      -webkit-box-shadow: 0 0 18px 0px rgba(237, 29, 69, 0.75);
      box-shadow: 0 0 18px 0px rgba(237, 29, 69, 0.75);
    }
  }
}

.background-circles {
  position: absolute;
  z-index: 0;
  &-element {
    width: 55vw;
    height: 55vw;
    background: $circle-blue;
    border-radius: 100%;
    position: fixed;
    &:first-child {
      right: -9vw;
      top: -9vw;
      z-index: -1;
    }
    &:nth-child(2) {
      right: -8.2vw;
      top: -8.8vw;
      z-index: -2;
      opacity: 0.4;
    }
    &:nth-child(3) {
      right: -6.8vw;
      top: -8.8vw;
      z-index: -2;
      opacity: 0.2;
    }
  }
}

.user-circles {
  pointer-events: none;

  &-element {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    text-align: center;

    img {
      height: 100%;
    }

    &.big {
      width: 150px;
      height: 150px;
      animation: pulse .8s 1;
      animation-timing-function: linear;
    }
    &.medium {
      width: 68px;
      height: 68px;
      animation: pulse .6s 1;
      animation-timing-function: linear;
    }
    &.small {
      width: 40px;
      height: 40px;
      animation: pulse .4s 1;
      animation-timing-function: linear;
    }
    &:first-child {
      top: 50px;
      right: -150px;
    }
    &:nth-child(2) {
      top: 30px;
      right: 350px;
    }
    &:nth-child(3) {
      top: 200px;
      right: 140px;
    }
    &:nth-child(5) {
      bottom: 230px;
      right: 110px;
    }
    &:last-child {
      @media(min-width: 1601px) {
        bottom: 150px;
      }
      @media(max-width: 1600px) {
        bottom: 35px;
      }
      right: -380px;
    }
  }
  @keyframes pulse {
    0% {
      transform: scale(0);
    }

    50% {
      transform: scale(1);
    }
    70% {
      transform: scale(0.8);
    }
    100% {
      transform: scale(1);
    }
  }
}

.counter {
  text-align: center;
  margin-left: auto;
  position: relative;
  z-index: 1;
  &-title {
    font-family: NunitoSemiBold;
    font-size: 36px;
    &:before {
      width: 59px;
      float: left;
      height: 62px;
      background: url("../images/icons/chain.png") no-repeat;
      display: block;
      content: '';
      margin-top: -7px;
      margin-left: 20px;
    }
  }
  &-secondary-text {
    font-family: NunitoRegular;
    font-size: 24px;
  }
  &-title, &-secondary-text {
    margin: 50px 0;
    color: $counter-header-font;
  }
  &-list {
    padding-left: 0;
    &-element {
      background: $counter-blue;
      font-family: NunitoBold;
      font-size: 44px;
      display: inline-block;
      padding: 10px 28px;
      margin-left: 5px;
      -webkit-box-shadow: 0 20px 20px 0 rgba(77, 106, 152, .2);
      box-shadow: 0 20px 20px 0 rgba(77, 106, 152, .2);
    }
  }
}

.hamburger {
  .line {
    margin-bottom: 5px;
    &:nth-child(2) {
      width: 17.5px;
    }
    background: $dark-blue;
    width: 35px;
    height: 5px;
    border-radius: 20px;
    display: block;
  }
}

.auth {
  animation: loadElement .9s;
  margin-bottom: 50px;
  &-image {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 125px;
    height: 125px;
    margin-bottom: 25px;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &-forgot-password {
    font-family: NunitoRegular;
    color: #aaa9a9;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 60px;
  }
  &-username {
    margin-bottom: 25px;
    text-align: center;
    font-family: NunitoSemiBold;
    font-size: 31px;
    span {
      font-family: NunitoRegular;
    }
  }
  &-footer {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-family: NunitoRegular;
    color: #aaa9a9;
    a {
      font-family: NunitoSemiBold;
      color: $dark-blue;
    }
  }
  &-header {
    width: 100%;
    height: auto;
    * {
      text-align: center;
    }
    &-title {
      font-family: NunitoBold;
      font-size: 47px;
    }
    &-secondary-title {
      font-family: NunitoRegular;
      font-size: 26px;
    }
    &-description {
      margin: 20px 0 40px 0;
      font-family: NunitoRegular;
      font-size: 20px;
      color: $gray-blue;
    }
  }
  &-data-picker {
    border: none !important;
    width: 100% !important;
  }
  &-input, &-data-picker input {
    letter-spacing: .25px;
    border-radius: 30px;
    border: 2px solid #d6e2f3;
    padding: 28px 28px;
    font-size: 18px;
    transition: all .5s;
    font-family: RalewayRegular;
    width: 100%;
    max-width: 1000px !important;
    &:focus {
      border-color: #6281b0;
      box-shadow: none;
    }
    &[readonly] {
      background: #f3f8ff;
      font-family: RalewayMedium;
    }
    margin-bottom: 4px;
    margin-top: 4px;
    &-edit {
      width: 20px;
      height: 20px;
      background: url("../images/icons/pencil-edit-button.png") no-repeat center;
      display: block;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .input-container {
    position: relative;
  }
  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $placeholder-color;
  }
  ::-moz-placeholder { /* Firefox 19+ */
    color: $placeholder-color;
  }
  :-ms-input-placeholder { /* IE 10+ */
    color: $placeholder-color;
  }
  :-moz-placeholder { /* Firefox 18- */
    color: $placeholder-color;
  }
  &-gender-checkbox {
    border-radius: 30px;
    border: 2px solid #d6e2f3;
    display: inline-block;
    width: 175px;
    height: 175px;
    position: relative;
    transition: border-color .5s;
    margin-top: 5px;
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .7;
      transition: opacity .5s;
    }
    &-male:after {
      background: url("../images/icons/office-worker.png") no-repeat center;
      // background-size: 45%;
    }
    &-female:after {
      background: url("../images/icons/secretary.png") no-repeat center;
      //  background-size: 45%;
    }
    &:before {
      width: 36px;
      height: 36px;
      background: url("../images/icons/checked.png") no-repeat center #6281b0;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -18px;
      margin: auto;
      transform: scale(0);
      transition: transform .3s;
    }
    &.active {
      border-color: #6281b0;
      &:after {
        opacity: 1;
      }
      &:before {
        transform: scale(1);
      }
    }
    &:hover {
      border-color: #6281b0;
      &:after {
        opacity: 1;
      }
    }
  }
  &-action {
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    width: 100%;
    padding: 17px 0 14px 0;
    background: $red;
    font-family: NunitoSemiBold;
    font-size: 21px;
    color: white;
    letter-spacing: -.21px;
    -webkit-box-shadow: 0 0 15px 0px rgba(239, 38, 77, .67);
    box-shadow: 0 0 15px 0px rgba(239, 38, 77, .67);
    transition: background .2s;
    &:hover{
      color: white;
      background: #d90e35;
    }
  }
}

.auth-data-picker {
  width: 100% !important;
  position: relative;
  .md-datepicker-button {
    position: absolute;
    right: 23px !important;
    top: -12px;
    z-index: 9;
  }
  .md-datepicker-triangle-button {
    display: none;
  }
  .md-datepicker-input-container {
    width: 100%;
    border: none;
    margin-left: 0;
    input {
      padding: 15px 28px;
    }
  }
  .md-icon-button + .md-datepicker-input-container {
    margin-left: 0;
  }
}

* {
  outline: none;
}

//
//.auth.ng-enter {
//  opacity:0;
//  transform: translateY(100px);
//  -webkit-transition-duration: 1000ms;
//}
//
//.auth.ng-enter-active {
//  -webkit-transform:scale(1);
//  opacity:1;
//}
@keyframes loadElement {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}