@font-face {
  font-family: NunitoRegular;
  src: url(../fonts/Nunito/Nunito-Regular.ttf); }
@font-face {
  font-family: NunitoSemiBold;
  src: url(../fonts/Nunito/Nunito-SemiBold.ttf); }
@font-face {
  font-family: NunitoBold;
  src: url(../fonts/Nunito/Nunito-Bold.ttf); }
@font-face {
  font-family: RalewayRegular;
  src: url(../fonts/Raleway/Raleway-Regular.ttf); }
@font-face {
  font-family: RalewayMedium;
  src: url(../fonts/Raleway/Raleway-Medium.ttf); }
@font-face {
  font-family: RalewaySemiBold;
  src: url(../fonts/Raleway/Raleway-SemiBold.ttf); }
@font-face {
  font-family: RalewayBold;
  src: url(../fonts/Raleway/Raleway-Bold.ttf); }
.circle {
  border-radius: 100%; }

.no-background {
  background: none;
  border: none; }

.no-padding-left-right {
  padding-left: 0 !important;
  padding-right: 0 !important; }

label {
  font-weight: normal; }

.form-control {
  box-shadow: none; }

.background-board {
  width: 100vw;
  height: 100vh;
  background: black;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;
  opacity: 0;
  transition: all .4s;
  display: none; }
  .background-board.show {
    display: block;
    opacity: .4; }

input[type="text"].form-control {
  border: 1px solid #ccdae9;
  border-radius: 20px; }

input[type="text"]:focus {
  box-shadow: none !important;
  border: 1px solid #8fa6bd; }

md-toolbar.md-default-theme:not(.md-menu-toolbar), md-toolbar:not(.md-menu-toolbar) {
  background-color: #3872c9 !important; }

.no-padding-right {
  padding-right: 0 !important; }

.no-padding-left {
  padding-left: 0 !important; }

.selectdemoSelectHeader {
  /* Please note: All these selectors are only applied to children of elements with the 'selectdemoSelectHeader' class */ }

.selectdemoSelectHeader .demo-header-searchbox {
  border: none;
  outline: none;
  height: 100%;
  width: 100%;
  padding: 0; }

.selectdemoSelectHeader .demo-select-header {
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.1), 0 0 0 0 rgba(0, 0, 0, 0.14), 0 0 0 0 rgba(0, 0, 0, 0.12);
  padding-left: 10.667px;
  height: 48px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  width: auto; }

.selectdemoSelectHeader md-content._md {
  max-height: 240px; }

.no-wrap {
  white-space: nowrap; }

.no-hover {
  cursor: auto; }
  .no-hover:hover {
    background: none !important; }

html, body {
  font-family: RalewayRegular;
  background: white; }

.navbar {
  position: relative;
  z-index: 2; }

.navbar-brand {
  padding: 8px 20px; }

.left-box, .right-box {
  display: flex;
  align-items: center; }
  @media (min-width: 1601px) {
    .left-box, .right-box {
      min-height: calc(100vh - 330px); } }
  @media (min-width: 769px) and (max-width: 1600px) {
    .left-box, .right-box {
      min-height: calc(100vh - 190px); } }

.slogan {
  margin: 0;
  font-size: 69px;
  line-height: 86px;
  font-family: NunitoBold; }
  @media (max-width: 769px) {
    .slogan {
      text-align: center;
      line-height: 60px;
      font-size: 50px; } }
  .slogan-first-line {
    font-size: 66px; }
    @media (max-width: 769px) {
      .slogan-first-line {
        line-height: 45px;
        font-size: 50px; } }
  .slogan small {
    font-family: RalewayRegular;
    color: #2c3d52;
    font-size: 24px;
    margin: 35px 0;
    display: block; }
    @media (max-width: 769px) {
      .slogan small {
        line-height: 35px;
        font-size: 25px; } }

.email-box {
  margin-top: 20px;
  position: relative;
  border-radius: 50px;
  padding: 3px 3.5px;
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f9691c+0,ff8635+100 */
  background: #f9691c;
  /* Old browsers */
  background: -moz-linear-gradient(top, #f9691c 0%, #ff8635 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f9691c 0%, #ff8635 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f9691c 0%, #ff8635 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f9691c', endColorstr='#ff8635', GradientType=0);
  /* IE6-9 */ }
  .email-box-label {
    font-size: 23px;
    font-family: RalewayMedium;
    position: absolute;
    color: #a0aeba;
    top: 24px;
    left: 43px;
    pointer-events: none;
    transition: all .3s; }
    .email-box-label.input-focused {
      font-size: 15px;
      transform: translateY(-50px); }
  .email-box-input {
    border: none;
    padding: 22px 70px 22px 40px;
    height: auto;
    font-size: 23px;
    font-family: RalewayMedium; }
    .email-box-input:focus {
      box-shadow: none; }
  .email-box-submit {
    position: absolute;
    right: 13px;
    top: 10.5px;
    -webkit-box-shadow: 0 0 15px 0px rgba(237, 29, 69, 0.67);
    box-shadow: 0 0 15px 0px rgba(237, 29, 69, 0.67);
    padding: 30px;
    color: #a61f39;
    border: none;
    background: url("../images/icons/next.png") #ef264d no-repeat center;
    transition: all .4s; }
    .email-box-submit:hover {
      background-color: #e62046;
      -webkit-box-shadow: 0 0 18px 0px rgba(237, 29, 69, 0.75);
      box-shadow: 0 0 18px 0px rgba(237, 29, 69, 0.75); }

.background-circles {
  position: absolute;
  z-index: 0; }
  .background-circles-element {
    width: 55vw;
    height: 55vw;
    background: #e0f0ff;
    border-radius: 100%;
    position: fixed; }
    .background-circles-element:first-child {
      right: -9vw;
      top: -9vw;
      z-index: -1; }
    .background-circles-element:nth-child(2) {
      right: -8.2vw;
      top: -8.8vw;
      z-index: -2;
      opacity: 0.4; }
    .background-circles-element:nth-child(3) {
      right: -6.8vw;
      top: -8.8vw;
      z-index: -2;
      opacity: 0.2; }

.user-circles {
  pointer-events: none; }
  .user-circles-element {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    z-index: 2;
    position: absolute;
    overflow: hidden;
    text-align: center; }
    .user-circles-element img {
      height: 100%; }
    .user-circles-element.big {
      width: 150px;
      height: 150px;
      animation: pulse .8s 1;
      animation-timing-function: linear; }
    .user-circles-element.medium {
      width: 68px;
      height: 68px;
      animation: pulse .6s 1;
      animation-timing-function: linear; }
    .user-circles-element.small {
      width: 40px;
      height: 40px;
      animation: pulse .4s 1;
      animation-timing-function: linear; }
    .user-circles-element:first-child {
      top: 50px;
      right: -150px; }
    .user-circles-element:nth-child(2) {
      top: 30px;
      right: 350px; }
    .user-circles-element:nth-child(3) {
      top: 200px;
      right: 140px; }
    .user-circles-element:nth-child(5) {
      bottom: 230px;
      right: 110px; }
    .user-circles-element:last-child {
      right: -380px; }
      @media (min-width: 1601px) {
        .user-circles-element:last-child {
          bottom: 150px; } }
      @media (max-width: 1600px) {
        .user-circles-element:last-child {
          bottom: 35px; } }
@keyframes pulse {
  0% {
    transform: scale(0); }
  50% {
    transform: scale(1); }
  70% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
.counter {
  text-align: center;
  margin-left: auto;
  position: relative;
  z-index: 1; }
  .counter-title {
    font-family: NunitoSemiBold;
    font-size: 36px; }
    .counter-title:before {
      width: 59px;
      float: left;
      height: 62px;
      background: url("../images/icons/chain.png") no-repeat;
      display: block;
      content: '';
      margin-top: -7px;
      margin-left: 20px; }
  .counter-secondary-text {
    font-family: NunitoRegular;
    font-size: 24px; }
  .counter-title, .counter-secondary-text {
    margin: 50px 0;
    color: #85a0ba; }
  .counter-list {
    padding-left: 0; }
    .counter-list-element {
      background: #f6faff;
      font-family: NunitoBold;
      font-size: 44px;
      display: inline-block;
      padding: 10px 28px;
      margin-left: 5px;
      -webkit-box-shadow: 0 20px 20px 0 rgba(77, 106, 152, 0.2);
      box-shadow: 0 20px 20px 0 rgba(77, 106, 152, 0.2); }

.hamburger .line {
  margin-bottom: 5px;
  background: #2c3d52;
  width: 35px;
  height: 5px;
  border-radius: 20px;
  display: block; }
  .hamburger .line:nth-child(2) {
    width: 17.5px; }

.auth {
  animation: loadElement .9s;
  margin-bottom: 50px; }
  .auth-image {
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    width: 125px;
    height: 125px;
    margin-bottom: 25px; }
    .auth-image img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .auth-forgot-password {
    font-family: NunitoRegular;
    color: #aaa9a9;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    margin-top: 30px;
    margin-bottom: 60px; }
  .auth-username {
    margin-bottom: 25px;
    text-align: center;
    font-family: NunitoSemiBold;
    font-size: 31px; }
    .auth-username span {
      font-family: NunitoRegular; }
  .auth-footer {
    text-align: center;
    margin-top: 40px;
    font-size: 18px;
    font-family: NunitoRegular;
    color: #aaa9a9; }
    .auth-footer a {
      font-family: NunitoSemiBold;
      color: #2c3d52; }
  .auth-header {
    width: 100%;
    height: auto; }
    .auth-header * {
      text-align: center; }
    .auth-header-title {
      font-family: NunitoBold;
      font-size: 47px; }
    .auth-header-secondary-title {
      font-family: NunitoRegular;
      font-size: 26px; }
    .auth-header-description {
      margin: 20px 0 40px 0;
      font-family: NunitoRegular;
      font-size: 20px;
      color: #8594aa; }
  .auth-data-picker {
    border: none !important;
    width: 100% !important; }
  .auth-input, .auth-data-picker input {
    letter-spacing: .25px;
    border-radius: 30px;
    border: 2px solid #d6e2f3;
    padding: 28px 28px;
    font-size: 18px;
    transition: all .5s;
    font-family: RalewayRegular;
    width: 100%;
    max-width: 1000px !important;
    margin-bottom: 4px;
    margin-top: 4px; }
    .auth-input:focus, .auth-data-picker input:focus {
      border-color: #6281b0;
      box-shadow: none; }
    .auth-input[readonly], .auth-data-picker input[readonly] {
      background: #f3f8ff;
      font-family: RalewayMedium; }
    .auth-input-edit, .auth-data-picker input-edit {
      width: 20px;
      height: 20px;
      background: url("../images/icons/pencil-edit-button.png") no-repeat center;
      display: block;
      cursor: pointer;
      position: absolute;
      right: 20px;
      top: 0;
      bottom: 0;
      margin: auto; }
  .auth .input-container {
    position: relative; }
  .auth ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #bac7da; }
  .auth ::-moz-placeholder {
    /* Firefox 19+ */
    color: #bac7da; }
  .auth :-ms-input-placeholder {
    /* IE 10+ */
    color: #bac7da; }
  .auth :-moz-placeholder {
    /* Firefox 18- */
    color: #bac7da; }
  .auth-gender-checkbox {
    border-radius: 30px;
    border: 2px solid #d6e2f3;
    display: inline-block;
    width: 175px;
    height: 175px;
    position: relative;
    transition: border-color .5s;
    margin-top: 5px;
    position: relative; }
    .auth-gender-checkbox:after {
      content: "";
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      opacity: .7;
      transition: opacity .5s; }
    .auth-gender-checkbox-male:after {
      background: url("../images/icons/office-worker.png") no-repeat center; }
    .auth-gender-checkbox-female:after {
      background: url("../images/icons/secretary.png") no-repeat center; }
    .auth-gender-checkbox:before {
      width: 36px;
      height: 36px;
      background: url("../images/icons/checked.png") no-repeat center #6281b0;
      border-radius: 100%;
      content: "";
      display: block;
      position: absolute;
      left: 0;
      right: 0;
      bottom: -18px;
      margin: auto;
      transform: scale(0);
      transition: transform .3s; }
    .auth-gender-checkbox.active {
      border-color: #6281b0; }
      .auth-gender-checkbox.active:after {
        opacity: 1; }
      .auth-gender-checkbox.active:before {
        transform: scale(1); }
    .auth-gender-checkbox:hover {
      border-color: #6281b0; }
      .auth-gender-checkbox:hover:after {
        opacity: 1; }
  .auth-action {
    margin-top: 30px;
    border-radius: 30px;
    border: none;
    width: 100%;
    padding: 17px 0 14px 0;
    background: #ef264d;
    font-family: NunitoSemiBold;
    font-size: 21px;
    color: white;
    letter-spacing: -.21px;
    -webkit-box-shadow: 0 0 15px 0px rgba(239, 38, 77, 0.67);
    box-shadow: 0 0 15px 0px rgba(239, 38, 77, 0.67);
    transition: background .2s; }
    .auth-action:hover {
      color: white;
      background: #d90e35; }

.auth-data-picker {
  width: 100% !important;
  position: relative; }
  .auth-data-picker .md-datepicker-button {
    position: absolute;
    right: 23px !important;
    top: -12px;
    z-index: 9; }
  .auth-data-picker .md-datepicker-triangle-button {
    display: none; }
  .auth-data-picker .md-datepicker-input-container {
    width: 100%;
    border: none;
    margin-left: 0; }
    .auth-data-picker .md-datepicker-input-container input {
      padding: 15px 28px; }
  .auth-data-picker .md-icon-button + .md-datepicker-input-container {
    margin-left: 0; }

* {
  outline: none; }

@keyframes loadElement {
  from {
    opacity: 0;
    transform: translateY(50px); }
  to {
    opacity: 1;
    transform: translateY(0px); } }
html, body {
  background: #f8fbfd; }

.main-navbar {
  min-height: 68px !important;
  background: white;
  -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.5);
  box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.5);
  padding: 0;
  margin-bottom: 7px;
  position: fixed;
  top: 0;
  width: 100%; }
  .main-navbar-helper {
    height: 68px;
    width: 100%;
    position: relative;
    z-index: -1;
    margin-bottom: 7px; }
  .main-navbar .navbar-brand {
    padding: 8px 20px;
    height: 20px; }
  .main-navbar .nav > a {
    padding: 23px 20px; }
  .main-navbar .navbar-form {
    margin-top: 0;
    margin-bottom: 0; }
  .main-navbar .searchbox {
    position: relative;
    margin-top: 9px;
    margin-left: 120px; }
    .main-navbar .searchbox .search-results {
      background: white;
      -webkit-box-shadow: 0 5px 15px 0 rgba(198, 204, 212, 0.67);
      box-shadow: 0 5px 15px 0 rgba(198, 204, 212, 0.67);
      border-radius: 10px;
      position: absolute;
      height: auto;
      width: 100%;
      padding: 10px 0; }
      .main-navbar .searchbox .search-results > li {
        list-style: none;
        padding: 3px 15px;
        transition: background .2s; }
        .main-navbar .searchbox .search-results > li:hover {
          background: #eef2f6; }
      .main-navbar .searchbox .search-results a {
        width: 100%;
        height: 100%;
        display: block; }
        .main-navbar .searchbox .search-results a:hover {
          text-decoration: none; }
      .main-navbar .searchbox .search-results-image {
        width: 45px;
        height: 45px;
        border-radius: 100%;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle; }
        .main-navbar .searchbox .search-results-image img {
          width: 100%;
          height: 100%;
          object-fit: cover; }
      .main-navbar .searchbox .search-results-details {
        vertical-align: middle;
        display: inline-block; }
      .main-navbar .searchbox .search-results-username {
        font-size: 15px;
        font-family: RalewayMedium;
        padding-left: 12px;
        margin-bottom: 2px; }
      .main-navbar .searchbox .search-results-location {
        font-size: 13px;
        color: #afb8c2;
        padding-left: 12px; }
    .main-navbar .searchbox-input {
      width: 470px;
      height: 45px;
      border-radius: 23px;
      border-color: #dce8f4;
      font-family: RalewayMedium;
      font-size: 15px;
      padding-left: 27px;
      padding-right: 40px; }
      .main-navbar .searchbox-input ::-webkit-input-placeholder {
        /* Chrome/Opera/Safari */
        color: #bac7da; }
      .main-navbar .searchbox-input ::-moz-placeholder {
        /* Firefox 19+ */
        color: #bac7da; }
      .main-navbar .searchbox-input :-ms-input-placeholder {
        /* IE 10+ */
        color: #bac7da; }
      .main-navbar .searchbox-input :-moz-placeholder {
        /* Firefox 18- */
        color: #bac7da; }
    .main-navbar .searchbox-submit {
      width: 16px;
      height: 16px;
      background: url("../images/icons/searcher.png") no-repeat;
      border: none;
      position: absolute;
      right: 30px;
      top: 0;
      bottom: 0;
      margin: auto; }
  .main-navbar .user-navbar-counter {
    color: white;
    width: 20px;
    height: 20px;
    background: #ed1d45;
    border-radius: 100%;
    position: absolute;
    margin-top: 8px;
    display: block;
    text-align: center;
    z-index: 3;
    font-size: 11px;
    padding-top: 1px;
    font-family: NunitoSemiBold; }
    .main-navbar .user-navbar-counter:after {
      position: relative;
      width: 28px;
      height: 28px;
      right: 4px;
      background: #ed1d45;
      opacity: .4;
      display: block;
      content: '';
      top: -25px;
      z-index: -1;
      border-radius: 100%;
      animation: scaleAnimation 1.3s 1;
      animation: scalePulse 1.1s infinite alternate linear;
      animation-timing-function: linear; }
@keyframes scaleAnimation {
  from {
    transform: scale(0); }
  to {
    transform: scale(1); } }
@keyframes scalePulse {
  0% {
    transform: scale(1);
    opacity: .4; }
  25% {
    transform: scale(0.9);
    opacity: .3; }
  50% {
    transform: scale(0.8);
    opacity: .2; }
  75% {
    transform: scale(0.9);
    opacity: .3; }
  100% {
    transform: scale(1);
    opacity: .4; } }
  .main-navbar .user-navbar > li.open {
    transition: all 5.3s; }
    .main-navbar .user-navbar > li.open .dropdown-menu {
      opacity: 1;
      transform: translateY(0px);
      transition: all 5.3s; }
  .main-navbar .user-navbar > li {
    transition: all 5.3s; }
  .main-navbar .user-navbar .dropdown-menu {
    opacity: 0;
    z-index: 999;
    border-radius: 10px;
    border: none !important;
    margin-top: 20px;
    -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.67);
    box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.67);
    transform: translateY(30px);
    transition: all 5.3s; }
    .main-navbar .user-navbar .dropdown-menu > li {
      border-bottom: 1px solid #dbe1e8; }
      .main-navbar .user-navbar .dropdown-menu > li:last-child {
        border-bottom: none; }
    .main-navbar .user-navbar .dropdown-menu:before {
      width: 20px;
      height: 20px;
      font-family: 'Glyphicons Halflings';
      color: white;
      display: block;
      content: "\e253";
      margin-top: -27px;
      float: right;
      position: absolute;
      right: 20px;
      font-size: 24px; }
    .main-navbar .user-navbar .dropdown-menu .message-details {
      margin-top: 12px;
      display: inline-block;
      vertical-align: top; }
      .main-navbar .user-navbar .dropdown-menu .message-details-username {
        font-size: 13.5px; }
      .main-navbar .user-navbar .dropdown-menu .message-details-username, .main-navbar .user-navbar .dropdown-menu .message-details-date {
        font-family: RalewaySemiBold;
        padding: 0 8px;
        margin: 0; }
      .main-navbar .user-navbar .dropdown-menu .message-details-text {
        padding: 0 8px;
        font-size: 13px; }
      .main-navbar .user-navbar .dropdown-menu .message-details-date {
        font-size: 13px;
        padding: 4px 8px !important;
        color: #c5cbd2; }
    .main-navbar .user-navbar .dropdown-menu .message-user-avatar {
      margin-top: 12px;
      width: 40px;
      height: 40px;
      display: inline-block;
      vertical-align: top; }
      .main-navbar .user-navbar .dropdown-menu .message-user-avatar img {
        width: 100%;
        height: 100%;
        border-radius: 100%;
        object-fit: cover; }
  .main-navbar .user-navbar-notifications {
    margin-right: 10px; }
    .main-navbar .user-navbar-notifications > a {
      padding: 33px 28px; }
    .main-navbar .user-navbar-notifications .dropdown-toggle {
      background: url("../images/icons/bell.png") no-repeat center; }
  .main-navbar .user-navbar-messages {
    margin-right: 13px; }
    .main-navbar .user-navbar-messages .dropdown-menu {
      max-height: 250px;
      padding-bottom: 55px !important; }
      .main-navbar .user-navbar-messages .dropdown-menu a {
        display: flex;
        padding-left: 10px; }
        .main-navbar .user-navbar-messages .dropdown-menu a:hover {
          text-decoration: none; }
    .main-navbar .user-navbar-messages > a {
      padding: 33px 28px; }
    .main-navbar .user-navbar-messages .dropdown-toggle {
      background: url("../images/icons/envelope.png") no-repeat center; }
  .main-navbar .user-navbar-shortcut li {
    border: none !important; }
  .main-navbar .user-navbar-shortcut .dropdown-menu a {
    font-family: RalewayMedium;
    font-size: 14px;
    padding: 8px 15px; }
  .main-navbar .user-navbar-shortcut .dropdown-toggle {
    padding: 8px 10px;
    font-family: NunitoSemiBold;
    letter-spacing: .2px;
    font-size: 15px;
    color: #2c3d52; }
    .main-navbar .user-navbar-shortcut .dropdown-toggle .username {
      font-family: NunitoBold; }
    .main-navbar .user-navbar-shortcut .dropdown-toggle > * {
      display: inline-block;
      vertical-align: middle; }
  .main-navbar .user-navbar-avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    overflow: hidden;
    margin-right: 15px; }
    .main-navbar .user-navbar-avatar img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.tabs {
  height: auto;
  width: 100%;
  border-bottom: 1px solid #e2ecf6; }
  .tabs-list {
    width: 55%;
    margin: auto;
    display: flex;
    justify-content: space-between; }
    .tabs-list-element {
      list-style: none; }
      .tabs-list-element a {
        padding: 20px 20px;
        display: block;
        font-size: 15px;
        font-family: RalewayMedium; }
        .tabs-list-element a:hover {
          text-decoration: none; }
        .tabs-list-element a.active {
          font-family: RalewayBold; }
          .tabs-list-element a.active:after {
            width: 130%;
            height: 4px;
            border-radius: 10px;
            background: #ed1d45;
            display: block;
            content: '';
            bottom: -20px;
            left: -15%;
            position: relative; }

.module {
  min-height: 200px;
  background: white;
  border-radius: 10px;
  border: 1px solid #e2ecf6;
  margin-top: 25px; }
  .module-header {
    margin: 0;
    padding: 30px 30px;
    font-size: 21px;
    font-family: NunitoSemiBold; }
    .module-header .edit {
      width: 23px;
      height: 23px;
      display: block;
      float: right; }
      .module-header .edit.active {
        background-size: 95%;
        color: #949ba4; }
    .module-header .save {
      width: 25px;
      height: 25px;
      display: block;
      float: right;
      margin-right: 10px;
      cursor: pointer;
      background: none;
      border: none; }

.profile-shortcut-avatar {
  width: 112px;
  height: 112px;
  margin-top: 23px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 100%;
  margin-bottom: 15px; }
  .profile-shortcut-avatar img {
    height: 100%;
    width: 100%;
    object-fit: cover; }
.profile-shortcut-username {
  font-family: RalewayBold;
  font-size: 19px;
  display: block;
  margin: auto; }
.profile-shortcut-place {
  font-family: RalewayMedium;
  font-size: 15px;
  padding-top: 0px;
  margin-top: 8px !important; }
.profile-shortcut-username, .profile-shortcut-place {
  text-align: center; }
.profile-shortcut-menu {
  margin-top: 25px;
  margin-bottom: 0;
  padding: 0; }
  .profile-shortcut-menu-element {
    border-bottom: 1px solid #e2ecf6;
    list-style: none; }
    .profile-shortcut-menu-element:last-child {
      border: none; }
    .profile-shortcut-menu-element a {
      padding: 13px 20px;
      display: block;
      font-family: RalewayMedium;
      font-size: 15px; }
.profile-shortcut-friends, .profile-user-nav-friends {
  padding: 0;
  border-top: 1px solid #e2ecf6; }
  .profile-shortcut-friends-element, .profile-user-nav-friends-element {
    list-style: none;
    display: inline-block;
    width: 49.3%;
    box-sizing: border-box; }
    .profile-shortcut-friends-element:first-child, .profile-user-nav-friends-element:first-child {
      border-right: 1px solid #e2ecf6; }
    .profile-shortcut-friends-element a, .profile-user-nav-friends-element a {
      width: 100%;
      height: 100%;
      display: block;
      padding: 15px;
      text-align: center; }
      .profile-shortcut-friends-element a:hover, .profile-user-nav-friends-element a:hover {
        text-decoration: none; }
      .profile-shortcut-friends-element a span, .profile-user-nav-friends-element a span {
        width: 100%;
        text-align: center;
        display: block; }
        .profile-shortcut-friends-element a span:first-child, .profile-user-nav-friends-element a span:first-child {
          color: #8f9cab;
          font-size: 13px;
          font-family: RalewayMedium; }
        .profile-shortcut-friends-element a span:nth-child(2), .profile-user-nav-friends-element a span:nth-child(2) {
          font-family: RalewayBold;
          font-size: 21px; }

.gallery-ico {
  width: 21px;
  height: 17px;
  background: url("../images/icons/image.png") no-repeat;
  display: block;
  float: left;
  margin-right: 20px; }

.stats-ico {
  width: 20px;
  height: 20px;
  background: url("../images/icons/chart.png") no-repeat;
  display: block;
  float: left;
  margin-right: 20px; }

.state-box {
  border-radius: 10px;
  background: white;
  height: 126px;
  -webkit-box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.5);
  box-shadow: 0 0 15px 0 rgba(198, 204, 212, 0.5);
  margin-top: 25px;
  position: relative;
  z-index: 0;
  overflow: hidden;
  transition: .4s all; }
  .state-box #typeLocation img {
    display: block;
    margin: 20px auto; }
  .state-box #typeLocation > h4 {
    padding: 20px;
    padding-bottom: 0; }
  .state-box.focused {
    z-index: 9; }
  .state-box-footer {
    transform: translateY(50px);
    opacity: 0;
    width: 100%;
    height: 55px;
    border-top: 1px solid #f1f6fb;
    padding: 10px;
    transition: 0s 0s all; }
  .state-box-submit {
    background: #ef264d;
    border: none;
    border-radius: 30px;
    padding: 7px 30px;
    font-size: 15px;
    -webkit-box-shadow: 0 6px 9px 0 rgba(237, 29, 69, 0.5);
    box-shadow: 0 6px 9px 0 rgba(237, 29, 69, 0.5);
    transition: background .2s; }
    .state-box-submit:focus, .state-box-submit:active, .state-box-submit:hover {
      color: white !important;
      background: #d90e35 !important; }
  .state-box.focused {
    -webkit-box-shadow: 0 0 15px 0 rgba(71, 75, 75, 0.8);
    box-shadow: 0 0 15px 0 rgba(71, 75, 75, 0.8);
    height: auto; }
    .state-box.focused .state-box-input {
      height: 200px; }
    .state-box.focused .state-box-footer {
      transform: translateY(0px);
      opacity: 1;
      transition: .4s .2s all; }
  .state-box-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    border-bottom: 1px solid #e2ecf6;
    margin-bottom: 0; }
    .state-box-list-element {
      list-style: none; }
      .state-box-list-element a {
        font-family: RalewaySemiBold;
        color: #8f9cab;
        font-size: 15px;
        float: right;
        padding: 18px 20px 15px 20px; }
        .state-box-list-element a:before {
          width: 22px;
          height: 22px;
          display: block;
          float: left;
          content: '';
          opacity: .6;
          margin-right: 15px; }
        .state-box-list-element a.update-status-ico:before {
          background: url("../images/icons/pencil.png") no-repeat center; }
        .state-box-list-element a.add-photo-ico:before {
          background: url("../images/icons/camera.png") no-repeat center; }
        .state-box-list-element a.check-out-ico:before {
          background: url("../images/icons/map.png") no-repeat center; }
        .state-box-list-element a.active {
          color: #2c3d52; }
          .state-box-list-element a.active:before {
            opacity: 1; }
  .state-box-input {
    resize: none;
    height: 70px;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: none;
    padding: 20px 15px;
    font-size: 16px;
    color: #2c3d52;
    transition: all .4s; }
    .state-box-input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #8e9eb1; }
    .state-box-input::-moz-placeholder {
      /* Firefox 19+ */
      color: #8e9eb1; }
    .state-box-input:-ms-input-placeholder {
      /* IE 10+ */
      color: #8e9eb1; }
    .state-box-input:-moz-placeholder {
      /* Firefox 18- */
      color: #8e9eb1; }
    .state-box-input:focus {
      height: 200px; }

.wall-post {
  /* The finishing CSS styles for the enter animation */
  padding: 8px 10px; }
  .wall-post-options {
    margin-right: -31px; }
    .wall-post-options button {
      padding: 5px 2px;
      font-size: 15px;
      border: 1px solid #e2ecf6;
      border-left: none;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .wall-post-like-number {
    display: block;
    left: 58%;
    right: 0;
    margin: auto;
    top: -12px;
    position: absolute;
    font-size: 20px;
    font-family: NunitoBold; }
  .wall-post-like-button {
    width: 50px;
    height: 50px;
    -webkit-box-shadow: 0 0 15px 0 #c6ccd4;
    box-shadow: 0 0 15px 0 #c6ccd4;
    background: white;
    border: none;
    border-radius: 100%;
    font-size: 25px;
    left: 0;
    right: 0;
    margin: auto;
    top: -25px;
    position: absolute;
    transition: all .3s; }
    .wall-post-like-button span {
      color: #405064;
      padding-top: 9px; }
    .wall-post-like-button:hover {
      transform: scale(1.1);
      background: #f3f6f9; }
  .wall-post.ng-enter {
    transition: 0.5s linear all;
    opacity: 0; }
  .wall-post.ng-enter.ng-enter-active {
    opacity: 1; }
  .wall-post-header {
    display: flex;
    justify-content: space-between; }
  .wall-post-action-name {
    font-family: RalewayMedium;
    font-size: 15px; }
    .wall-post-action-name a {
      font-family: RalewaySemiBold;
      font-size: 15px; }
  .wall-post-date {
    color: #afb8c2; }
  .wall-post-data {
    margin-top: 14px; }
    .wall-post-data .embed-responsive {
      margin-top: 8px;
      margin-bottom: 8px; }
    .wall-post-data-location-name {
      font-size: 15px;
      font-family: RalewayMedium;
      color: #8f9cab;
      margin-top: 0;
      margin-bottom: 12px; }
      .wall-post-data-location-name span {
        margin-right: 5px; }
    .wall-post-data-image {
      width: 100%;
      max-height: 600px;
      overflow: hidden;
      margin-bottom: 25px; }
      .wall-post-data-image img {
        width: 100%; }
    .wall-post-data-text {
      font-size: 24px;
      font-family: NunitoSemiBold;
      color: #2c3d52;
      margin-bottom: 30px;
      line-height: 30px; }
      .wall-post-data-text a {
        font-size: 20px;
        display: block;
        width: 100%;
        padding: 15px 20px;
        word-break: break-all;
        line-height: 25px;
        border: 1px solid #e2ecf6;
        border-radius: 10px;
        background: #fdfdfd;
        margin-bottom: 10px;
        margin-top: 10px; }
  .wall-post-comments {
    top: 10px;
    width: 100%;
    min-height: 30px;
    background: #f4f7fa;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 15px;
    position: relative; }
    .wall-post-comments-load {
      width: 100%;
      height: 37px;
      background: #e9f0f7;
      display: block;
      border-bottom-right-radius: 10px;
      border-bottom-left-radius: 10px;
      text-align: center;
      padding: 10px;
      color: #afb9c0;
      font-family: RalewayMedium; }
  .wall-post-add-comment {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px; }
    .wall-post-add-comment.no-comments {
      margin-bottom: 0 !important; }
    .wall-post-add-comment-avatar {
      width: 50px;
      height: 50px;
      border-radius: 100%;
      overflow: hidden; }
      .wall-post-add-comment-avatar img {
        height: 100%;
        width: 100%;
        object-fit: cover; }
    .wall-post-add-comment-submit {
      width: 18px;
      height: 12px;
      background: url("../images/add-comment-ico.png") no-repeat; }
    .wall-post-add-comment-input {
      width: 85%;
      position: relative;
      overflow: hidden; }
      .wall-post-add-comment-input.input-active textarea {
        border-radius: 4px;
        height: 100px; }
        .wall-post-add-comment-input.input-active textarea + .wall-post-add-comment-input-options {
          bottom: 0;
          opacity: 1; }
      .wall-post-add-comment-input-options {
        overflow: hidden;
        width: 100%;
        border-top: 1px solid #edf3f9;
        height: 25px;
        bottom: -25px;
        position: absolute;
        padding: 5px;
        transition: all .2s .4s;
        opacity: 0; }
      .wall-post-add-comment-input textarea {
        width: 100%;
        border-radius: 25px;
        border: 1px solid #dce8f4;
        resize: none;
        height: 50px;
        padding: 15px 25px;
        overflow: hidden;
        transition: all .6s; }
  .wall-post-comment {
    /* The finishing CSS styles for the enter animation */
    margin-bottom: 8px;
    display: flex;
    justify-content: space-between; }
    .wall-post-comment.ng-enter {
      transition: 0.5s linear all;
      opacity: 0; }
    .wall-post-comment.ng-enter.ng-enter-active {
      opacity: 1; }
    .wall-post-comment-body {
      width: 84%; }
    .wall-post-comment-content {
      font-size: 13px;
      margin-top: 0px; }
    .wall-post-comment-header {
      display: flex;
      justify-content: space-between; }
    .wall-post-comment-author {
      font-family: RalewaySemiBold; }
    .wall-post-comment-date {
      margin-top: 0;
      margin-bottom: 8px;
      font-size: 14px;
      color: #c5cbd2; }
    .wall-post-comment-avatar {
      width: 57px;
      height: 57px;
      overflow: hidden;
      border-radius: 100%; }
      .wall-post-comment-avatar img {
        height: 100%;
        width: 100%;
        object-fit: cover; }

.profile-user {
  padding: 23px; }
  .profile-user-avatar {
    width: 180px;
    height: 180px;
    border-radius: 100%;
    overflow: hidden;
    /* border-radius: 10px; */
    margin: auto; }
    .profile-user-avatar img {
      height: 100%;
      width: 100%;
      object-fit: cover; }
  .profile-user-name {
    font-size: 26px;
    font-family: NunitoSemiBold; }
  .profile-user-city {
    margin-top: 0;
    font-size: 18px;
    color: #8d98a4;
    font-family: NunitoSemiBold;
    margin-bottom: 0; }
  .profile-user-nav {
    padding: 10px 0;
    width: calc(100% + 46px);
    margin-left: -23px; }
    .profile-user-nav-friends {
      border-bottom: 1px solid #e2ecf6; }
    .profile-user-nav-element {
      list-style: none;
      margin-top: 15px;
      padding-left: 20px;
      padding-right: 20px; }
      .profile-user-nav-element:first-child {
        padding-left: 0px;
        padding-right: 0px; }
      .profile-user-nav-element a {
        width: 100%;
        padding-top: 11px;
        padding-bottom: 9px;
        text-align: center;
        display: block;
        border-radius: 24px;
        font-size: 17px;
        font-family: NunitoSemiBold; }
        .profile-user-nav-element a.follow {
          border: 2px solid #54b163;
          color: #54b163;
          margin-top: 25px !important; }
        .profile-user-nav-element a.following {
          border: 2px solid #bdcfe2;
          color: #abc0d5;
          margin-top: 25px !important; }
          .profile-user-nav-element a.following span:last-child {
            display: none; }
          .profile-user-nav-element a.following:hover {
            background: #ed1d45;
            border: 2px solid #ed1d45;
            color: white; }
            .profile-user-nav-element a.following:hover span:first-child {
              display: none !important; }
            .profile-user-nav-element a.following:hover span:last-child {
              display: block; }
        .profile-user-nav-element a.message {
          background: #3872c9;
          color: white; }
        .profile-user-nav-element a:hover {
          text-decoration: none; }

.profile-gallery {
  margin-top: 25px;
  /* The finishing CSS styles for the enter animation */ }
  .profile-gallery > div.ng-enter {
    transition: 0.5s linear all;
    opacity: 0; }
  .profile-gallery > div.ng-enter.ng-enter-active {
    opacity: 1; }
  .profile-gallery-element {
    overflow: hidden;
    height: 150px;
    display: block;
    border-radius: 10px;
    width: 100%; }
    .profile-gallery-element.show-more {
      background: #e8f1f7;
      font-size: 24px;
      font-family: NunitoBold;
      color: #8d98a4;
      padding-top: 60px; }
    .profile-gallery-element.add-photo {
      text-decoration: none;
      padding-top: 47px;
      background: white;
      -webkit-box-shadow: 0 0 30px 0 rgba(73, 155, 209, 0.3);
      box-shadow: 0 0 30px 0 rgba(73, 155, 209, 0.3);
      transition: all .2s;
      text-align: center;
      color: #3872c9;
      font-family: NunitoBold;
      font-size: 18px; }
      .profile-gallery-element.add-photo:hover {
        -webkit-box-shadow: 0 0 30px 0 rgba(73, 155, 209, 0.5);
        box-shadow: 0 0 30px 0 rgba(73, 155, 209, 0.5);
        transform: scale(1.05); }
      .profile-gallery-element.add-photo span {
        width: 100%;
        font-size: 35px; }
    .profile-gallery-element img {
      height: 100%;
      width: 100%;
      object-fit: cover; }

.profile-info-row {
  padding: 0 25px;
  border-bottom: 1px solid #e2ecf6; }
  .profile-info-row:last-child {
    border-bottom: none; }
.profile-info-subtitle {
  font-size: 14px;
  color: #8d98a4;
  font-family: RalewayMedium; }
.profile-info .profile-info-input[readonly], .profile-info .profile-info-input[disabled] {
  font-family: RalewaySemiBold;
  font-size: 16px;
  padding: 0;
  background: none;
  border: none;
  color: #2c3d52;
  cursor: text; }

.button {
  -moz-appearance: button;
  /* Firefox */
  -webkit-appearance: button;
  /* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px; }

.drop-box {
  background: #F8F8F8;
  border: 5px dashed #DDD;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px; }

.dragover {
  border: 5px dashed blue; }

.upload {
  position: relative;
  background-color: #fff; }
  .upload-container {
    width: 100%;
    height: 230px;
    position: relative; }
  .upload-file-browse {
    width: 100%;
    height: 230px;
    position: absolute;
    top: 0;
    z-index: 0;
    cursor: pointer; }
  .upload-preview-list {
    padding-left: 0; }
    .upload-preview-list-element {
      display: inline-block;
      margin-left: 15px;
      position: relative; }
      .upload-preview-list-element-options {
        display: none;
        position: absolute;
        right: 0;
        top: 18px; }
      .upload-preview-list-element:hover .upload-preview-list-element-options {
        display: block; }
      .upload-preview-list-element:first-child {
        margin-left: 0; }
    .upload-preview-list-thumb {
      width: 120px;
      height: 120px;
      border-radius: 5px; }
      .upload-preview-list-thumb canvas {
        width: 120px;
        height: 120px;
        border-radius: 5px; }
  .upload-drag-title {
    font-size: 24px;
    font-family: NunitoSemiBold;
    color: #3872c9;
    text-align: center; }
  .upload-drag-subtitle {
    font-size: 17px;
    font-family: NunitoRegular;
    color: #a5afbe;
    text-align: center; }
    .upload-drag-subtitle a {
      color: #a5afbe;
      text-decoration: underline; }
  .upload-drag-zone {
    width: 100%;
    border-radius: 5px;
    border: 2px solid #eff3f9;
    height: 230px;
    text-align: center;
    padding: 20px;
    position: relative;
    z-index: 1;
    background: #FFF;
    pointer-events: none; }
    .upload-drag-zone * {
      transition: all .4s; }
    .upload-drag-zone-over {
      border-color: #a5afbe; }
      .upload-drag-zone-over * {
        transform: scale(0.9); }

.gallery-element {
  position: relative;
  /* The finishing CSS styles for the enter animation */ }
  .gallery-element a:hover {
    text-decoration: none; }
  .gallery-element.ng-enter {
    transition: 0.5s linear all;
    opacity: 0; }
  .gallery-element.ng-enter.ng-enter-active {
    opacity: 1; }
  .gallery-element .btn-group {
    position: absolute;
    top: 35px;
    right: 20px;
    display: none;
    z-index: 2; }
  .gallery-element:hover .btn-group {
    display: block; }
  .gallery-element-location {
    font-family: RalewayMedium;
    font-size: 15px;
    margin-bottom: 0; }
  .gallery-element-title {
    font-family: NunitoSemiBold;
    font-size: 20px;
    margin-bottom: 0; }
.gallery .thumbnail {
  overflow: hidden;
  border-radius: 5px;
  margin-top: 30px;
  background: black;
  height: 250px;
  padding: 0;
  margin-bottom: 10px;
  border: none; }
  .gallery .thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity .2s; }
  .gallery .thumbnail:hover img {
    opacity: .8; }

.messages-container {
  background: white;
  height: calc(100vh - 200px);
  border: 1px solid #e4edf7;
  border-left: none;
  margin-top: 25px; }

.messages-input {
  width: 100%;
  height: 100%; }

.messages-list {
  padding: 0; }
  .messages-list-avatar {
    width: 42px;
    height: 42px;
    border-radius: 100%;
    overflow: hidden;
    display: inline-block;
    vertical-align: top; }
    .messages-list-avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
  .messages-list-element {
    list-style: none;
    clear: both;
    padding: 8px 25px; }
  .messages-list-alien-message {
    max-width: 50%;
    background: #e4edf7;
    border-radius: 10px;
    min-width: 10%;
    padding: 12px;
    display: inline-block;
    vertical-align: top;
    margin-left: 15px; }
  .messages-list-my-message {
    max-width: 50%;
    min-width: 20%;
    background: #5795da;
    border-radius: 10px;
    float: right;
    color: white;
    padding: 12px; }

.messages-textbox-container {
  background: red;
  height: 80px;
  position: relative; }
  .messages-textbox-container .messages-input {
    height: 100%;
    display: block;
    position: absolute;
    border: 1px solid #e4edf7;
    border-left: none;
    border-top: none;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 90px; }
  .messages-textbox-container .send-message-input {
    position: absolute;
    right: 0;
    top: 0;
    background: none;
    border: none;
    padding: 20px;
    margin-right: 5px;
    margin-top: 18px; }
    .messages-textbox-container .send-message-input span {
      color: #3872c9;
      font-size: 18px; }

.conversation-list {
  padding: 0;
  background: white;
  height: calc(100vh - 120px);
  border: 1px solid #e4edf7;
  margin-top: 25px;
  overflow: hidden; }
  .conversation-list-element.unreaded {
    background: #f5f8fc; }
  .conversation-list-name {
    font-family: RalewaySemiBold;
    font-size: 15px;
    color: #2c3d52;
    margin-bottom: 2px; }
  .conversation-list-details {
    display: inline-block;
    vertical-align: middle; }
  .conversation-list-search-input {
    height: 60px;
    border: none;
    border-bottom: 1px solid #e4edf7 !important;
    width: 100%;
    font-size: 15px;
    font-family: RalewayRegular;
    padding-left: 50px;
    background: url("../images/icons/search-con-ico.png") no-repeat 9%; }
    .conversation-list-search-input:focus {
      border: none !important;
      border-bottom: 1px solid #e4edf7 !important; }
  .conversation-list ::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #b6c5d5; }
  .conversation-list ::-moz-placeholder {
    /* Firefox 19+ */
    color: #b6c5d5; }
  .conversation-list :-ms-input-placeholder {
    /* IE 10+ */
    color: #b6c5d5; }
  .conversation-list :-moz-placeholder {
    /* Firefox 18- */
    color: #b6c5d5; }
  .conversation-list-element {
    list-style: none;
    padding: 5px 10px;
    cursor: pointer; }
    .conversation-list-element:first-child {
      padding: 0 !important; }
    .conversation-list-element:hover {
      background: #f5f8fc; }
    .conversation-list-element a:hover {
      text-decoration: none; }
  .conversation-list-text, .conversation-list-date {
    font-size: 13px;
    font-family: RalewayRegular;
    color: #8593a5; }
  .conversation-list-date {
    font-size: 12px;
    color: #afbac6;
    margin-bottom: 5px; }
  .conversation-list-avatar {
    width: 42px;
    height: 42px;
    overflow: hidden;
    border-radius: 100%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 10px; }
    .conversation-list-avatar img {
      width: 100%;
      height: 100%;
      object-fit: cover; }

.comparison-chart {
  background: #e8f1f7;
  border-radius: 8px;
  width: 100%;
  height: 15px;
  padding: 2px;
  position: relative;
  margin-top: 60px;
  margin-bottom: 60px; }
  .comparison-chart-percentage {
    font-family: NunitoBold;
    font-size: 28px;
    margin-top: -10px;
    display: block; }
  .comparison-chart-heart {
    position: absolute;
    color: #e7204a;
    font-size: 35px;
    top: -15px;
    text-shadow: 0 0 9px rgba(180, 30, 61, 0.75); }
    .comparison-chart-heart span {
      animation: showHeart 1s 1;
      animation-timing-function: linear; }
@keyframes showHeart {
  0% {
    transform: scale(0); }
  60% {
    transform: scale(1); }
  80% {
    transform: scale(0.85); }
  100% {
    transform: scale(1); } }
  .comparison-chart-line {
    height: 100%;
    width: 0;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#3872c9+0,ed1d45+65,ed1d45+65 */
    background: #3872c9;
    /* Old browsers */
    background: -moz-linear-gradient(left, #3872c9 0%, #ed1d45 80%, #ed1d45 80%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #3872c9 0%, #ed1d45 80%, #ed1d45 80%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #3872c9 0%, #ed1d45 80%, #ed1d45 80%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#3872c9', endColorstr='#ed1d45', GradientType=1);
    /* IE6-9 */
    background-attachment: fixed !important;
    border-radius: inherit;
    transition: all 1.5s; }

.friends-list {
  width: 70px;
  height: calc(100vh - 68px);
  margin-top: -7px;
  background: #e4edf7;
  position: fixed;
  right: 0;
  padding: 0;
  z-index: 7; }
  .friends-list-el {
    list-style: none;
    margin-top: 15px; }
  .friends-list-avatar {
    margin: auto;
    display: block;
    border-radius: 100%;
    width: 39px;
    height: 39px;
    overflow: hidden;
    position: relative; }
    .friends-list-avatar > img {
      width: 100%;
      height: 100%;
      object-fit: cover; }
    .friends-list-avatar:hover + span {
      display: block; }
  .friends-list-details {
    display: none;
    right: 73px;
    position: absolute;
    background: #c7d2de;
    border-radius: 5px;
    padding: 7px 12px;
    margin-top: -45px;
    font-size: 13px;
    font-family: RalewaySemiBold;
    line-height: 17px;
    color: #4b5869; }
    .friends-list-details:after {
      width: 20px;
      height: 20px;
      color: #c7d2de;
      font-family: 'Glyphicons Halflings';
      content: "\e250";
      display: block;
      font-size: 16px;
      position: absolute;
      right: -16px;
      top: 0;
      bottom: 0;
      margin-top: auto;
      margin-bottom: auto; }

.mark-as-readed {
  width: 17px;
  height: 17px;
  border-radius: 100%;
  background: #e7ebf0;
  border: 2px solid #d2d9e2;
  margin-top: 18.5px;
  transition: all .2s; }
  .mark-as-readed:hover {
    background: #d2d9e2; }

.single-notification {
  padding: 5px 20px; }

.show-all-messages {
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 10px;
  text-align: center;
  background: white; }
  .show-all-messages a {
    padding: 7px !important;
    font-family: RalewayMedium;
    text-align: center;
    color: #44566e;
    display: block !important;
    border-top: 1px solid #e2ecf6;
    padding-left: 0 !important; }

.no-notifications {
  display: block;
  padding: 10px;
  font-family: RalewayMedium;
  text-align: center; }

.gallery-preview-container {
  height: 75vh;
  margin-top: 40px; }

.gallery-image {
  padding-right: 0;
  height: 75vh; }
  .gallery-image-author {
    background: #f4f7fa;
    padding: 10px 20px !important;
    margin-bottom: 10px;
    border-bottom: 1px solid #e2ecf6; }
  .gallery-image-preview {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    overflow: hidden;
    background: black;
    height: 75vh;
    position: relative; }
    .gallery-image-preview img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }

.gallery-comments {
  padding-left: 0; }
  .gallery-comments-container {
    position: relative;
    background: white;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
    height: 75vh;
    border-right: 1px solid #e2ecf6;
    border-top: 1px solid #e2ecf6;
    border-bottom: 1px solid #e2ecf6;
    overflow: hidden; }

.gallery-image-comments-list {
  padding: 0;
  overflow-y: scroll;
  height: calc(100% - 148px); }

.gallery-add-comment {
  width: 100%;
  padding: 15px 20px;
  position: absolute;
  bottom: 0;
  background: #f4f7fa;
  margin-bottom: 0; }
  .gallery-add-comment .wall-post-add-comment-avatar {
    width: 44px;
    height: 44px; }
  .gallery-add-comment textarea {
    height: 44px;
    padding: 12px 20px; }

.gallery-image-comment {
  padding: 0px 20px; }
  .gallery-image-comment.gallery-image-author .wall-post-comment-header {
    margin-top: 15px; }
  .gallery-image-comment .wall-post-comment-avatar {
    width: 44px;
    height: 44px; }

.image-nav {
  position: relative;
  height: 75vh; }
  .image-nav-button {
    width: 60px;
    height: 60px;
    border: 1px solid #d9e5f0;
    padding-top: 17px;
    border-radius: 100%;
    display: block;
    text-align: center;
    font-size: 20px;
    background: #e4edf7;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    transition: all .2s; }
    .image-nav-button:hover {
      background: #d4e1ef; }

.roulette-user {
  padding-right: 0;
  height: 50vh;
  margin-top: 30px; }
  .roulette-user .profile-user-nav {
    padding: 20px; }
  .roulette-user .gallery-element-title {
    margin-top: 15px;
    font-size: 22px; }
  .roulette-user-avatar {
    border-radius: 10px;
    overflow: hidden;
    background: black;
    height: 50vh;
    position: relative; }
    .roulette-user-avatar img {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto; }

.message-user-info .profile-shortcut-friends-element, .message-user-info .profile-user-nav-friends-element {
  width: 48.3%; }
.message-user-info .profile-shortcut-username {
  font-size: 17.5px;
  display: block;
  width: 100%; }
.message-user-info .conversation-list-element {
  cursor: default !important; }

.latest-visits {
  overflow: hidden; }
  .latest-visits .no-notifications {
    font-size: 23px;
    opacity: .3;
    margin-top: 40px; }
  .latest-visits-nav {
    text-align: center;
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid #e4edf7;
    font-family: NunitoBold;
    font-size: 15px;
    color: #8f9cab;
    padding-top: 5px; }
  .latest-visits-header {
    font-size: 15px;
    font-family: RalewaySemiBold;
    padding-left: 20px; }

.latest-visit-nav-container {
  width: 64px;
  margin: auto; }

.visitors-list {
  display: inline-flex;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  transition: all .4s; }
  .visitors-list-element {
    margin-right: 25px;
    list-style: none; }
    .visitors-list-element .visitor-avatar {
      width: 57px;
      height: 57px;
      display: block;
      border-radius: 100%;
      overflow: hidden; }
      .visitors-list-element .visitor-avatar img {
        width: 100%;
        height: 100%;
        object-fit: cover; }

.no-posts {
  margin-top: 70px;
  text-align: center; }
  .no-posts-title {
    font-size: 23px;
    font-family: NunitoSemiBold;
    color: #7f929f; }
  .no-posts-secondary-text {
    padding-top: 5px;
    font-size: 15px;
    color: #7f929f; }
    .no-posts-secondary-text a {
      font-family: RalewaySemiBold;
      color: #3b4d59;
      text-decoration: underline; }

.not-readed {
  background: #edf2f7; }

/*# sourceMappingURL=styles.css.map */
