<div class="container auth">
    <div class="auth-header">
        <h3 class="auth-header-title">Hello</h3>
        <h4 class="auth-header-secondary-title">It's nice to meet you</h4>
        <p class="auth-header-description">Please fill the fields below and join to our community</p>
    </div>
    <form class="form-horizontal col-md-4 col-md-offset-4 col-xs-12" ng-submit="submit()">
        <div class="form-group">
            <input type="email" name="login.email" placeholder="E-maill address" ng-model="login.email" class="form-control auth-input" required>
        </div>
        <div class="form-group">
            <input type="password" class="form-control auth-input" name="login.password" ng-model="login.password"
                   placeholder="Password" required>
        </div>
        <div class="form-group">
            <button type="submit" class="btn auth-action">Login</button>
        </div>
        <a class="auth-forgot-password" href="/userDashboard">I forgot my password</a>
        <p class="auth-footer">I don't have account, <a href="/register">create now.</a>
        </p>

    </form>
</div>