<div class="container-fluid">
    <div class="container gallery-preview-container">
        <div class="row">
            <div class="col-xs-1 image-nav">
                <a class="image-nav-button" ng-if="previous" ng-href="/profile/{{userId}}/gallery/{{previous}}">
                    <span class="glyphicon glyphicon-triangle-left"></span>
                </a>

            </div>
            <div class="col-xs-6 gallery-image">
                <div class="gallery-image-preview">
                    <img ng-src="/uploads/{{userId}}/{{imageData.currentName}}" alt="Image" style="width: 100%;">
                </div>

            </div>
            <div class="col-xs-4 gallery-comments">
                <div class="gallery-comments-container">
                    <div class="wall-post-comment gallery-image-author gallery-image-comment">
                        <div class="wall-post-comment-avatar">
                            <img ng-if="imageAuthor.avatar.currentName"
                                 ng-src="/uploads/{{imageAuthor._id}}/thumb-{{imageAuthor.avatar.currentName}}">
                            <img ng-if="!imageAuthor.avatar.currentName" ng-src="/images/no-avatar.png">

                        </div>
                        <div class="wall-post-comment-body">
                            <div class="wall-post-comment-header">
                                <a href="/profile/{{imageAuthor._id}}" class="wall-post-comment-author">
                                    {{imageAuthor.firstName}} {{imageAuthor.lastName}}
                                </a>
                                <h4 class="wall-post-comment-date">
                                    {{imageData.date | date:'dd MMMM yyyy'}}
                                </h4>
                            </div>
                        </div>
                    </div>
                    <ul class="gallery-image-comments-list">
                        <li class="wall-post-comment gallery-image-comment" ng-repeat="comment in comments">
                            <!--{{comment.content}}-->
                            <!--{{comment.author.firstName}}-->
                            <div class="wall-post-comment-avatar">
                                <img ng-if="comment.author.avatar.currentName"
                                     ng-src="/uploads/{{comment.author._id}}/thumb-{{comment.author.avatar.currentName}}">
                                <img ng-if="!comment.author.avatar.currentName" ng-src="/images/no-avatar.png">

                            </div>
                            <div class="wall-post-comment-body">
                                <div class="wall-post-comment-header">
                                    <a href="/profile/{{comment.author._id}}" class="wall-post-comment-author">
                                        {{comment.author.firstName}} {{comment.author.lastName}}
                                    </a>
                                    <h4 class="wall-post-comment-date">
                                        {{comment.date | date:'dd MMMM yyyy'}}
                                    </h4>
                                </div>
                                <p class="wall-post-comment-content">
                                    {{comment.content}}
                                </p>
                            </div>
                        </li>

                    </ul>
                    <div class="wall-post-add-comment gallery-add-comment"
                         ng-class="{'no-comments': post.comments.length==0}">
                        <div class="wall-post-add-comment-avatar">
                            <img ng-if="currentUser.avatar.currentName"
                                 ng-src="/uploads/{{currentUser._id}}/thumb-{{currentUser.avatar.currentName}}"
                                 alt="{{currentUser.firstName}} {{currentUser.lastName}} profile photo">
                            <img ng-if="!currentUser.avatar.currentName" ng-src="/images/no-avatar.png"
                                 alt="{{currentUser.firstName}} {{currentUser.lastName}} profile photo">
                        </div>
                        <div class="wall-post-add-comment-input" ng-class="{'input-active': isActive}">
                            <form ng-submit="addComment()">
                                <textarea placeholder="Add Comment" name="commentData" ng-model="commentData"
                                          ng-click="isActive=true"></textarea>
                                <div class="wall-post-add-comment-input-options">
                                    <button type="submit" class="btn wall-post-add-comment-submit pull-right"
                                            ng-click="isActive=false"></button>
                                </div>
                            </form>
                        </div>
                    </div>

                </div>
            </div>
            <div class="col-xs-1 image-nav">
                <a class="image-nav-button" ng-if="next" ng-href="/profile/{{userId}}/gallery/{{next}}">
                    <span class="glyphicon glyphicon-triangle-right"></span>

                </a>

            </div>
        </div>
        <!--<md-button class="md-primary md-raised" >Open Dialog</md-button>-->

    </div>
</div>