<div class="container-fluid">
    <div class="container">
        <div class="gallery">
            <div ng-repeat="img in images" class="col-sm-4 col-md-3 col-xs-12 gallery-element">
                <div class="btn-group" ng-hide="!isValidUser">
                    <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="#a" ng-click="setAvatar(img._id)">Set as avatar</a></li>

                        <!--<li role="separator" class="divider"></li>-->
                    </ul>
                </div>
                <a class="thumbnail" ng-href="/profile/{{userId}}/gallery/{{img._id}}">

                    <img ng-src="/uploads/{{userId}}/thumb-{{img.currentName}}" alt="Image">
                </a>
            </div>

        </div>
        <!--<md-button class="md-primary md-raised" >Open Dialog</md-button>-->

    </div>
</div>