<div class="container">
    <div class="row">
        <div class="col-md-6 col-xs-12 vertical-center-child">
            <div class="left-box">
                <div>
                    <h1 class="slogan">
                        <span class="slogan-first-line">Meet your love</span><br>
                        AT THE CORNER
                        <small>Simply type your e-mail and leave us all the rest.</small>
                    </h1>
                    <div class="row">
                        <div class="col-md-10 col-xs-12">
                            <form ng-submit="submit()">
                                <div class="form-group email-box">
                                    <label ng-class="labelClass" class="email-box-label">Email address</label>
                                    <input ng-model="user.email" ng-focus="focusAnimation(true)"
                                           ng-blur="focusAnimation(false)" type="email" name="email" class="form-control input-lg email-box-input">
                                    <button type="submit" class="btn btn-danger btn-lg circle email-box-submit">
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 hidden-xs hidden-sm">
            <div class="right-box">
                <div class="counter">
                    <h3 class="counter-title">We are connecting</h3>
                    <ul class="counter-list">
                        <li class="counter-list-element circle">6</li>
                        <li class="counter-list-element circle">3</li>
                        <li class="counter-list-element circle">7</li>
                        <li class="counter-list-element circle">7</li>
                        <li class="counter-list-element circle">{{counter}}</li>
                    </ul>
                    <h4 class="counter-secondary-text">of <u>amazing</u> people</h4>
                </div>
            </div>
        </div>

    </div>
</div>
<div class="user-circles hidden-md hidden-sm hidden-xs">
    <div class="user-circles-element medium">
        <img src="../../../images/user1.jpg" alt="user-photo">
    </div>
    <div class="user-circles-element small">
        <img src="../../../images/user6.jpg" alt="user-photo">

    </div>
    <div class="user-circles-element medium">
        <img src="../../../images/user3.jpg" alt="user-photo">

    </div>
    <div class="user-circles-element small">
        <img src="../../../images/user8.jpg" alt="user-photo">

    </div>
    <div class="user-circles-element medium">
        <img src="../../../images/user6.jpg" alt="user-photo">

    </div>
    <div class="user-circles-element big">
        <img src="../../../images/user5.jpg" alt="user-photo">

    </div>
</div>
<div class="background-circles hidden-sm hidden-xs">
    <div class="background-circles-element"></div>
    <div class="background-circles-element"></div>
    <div class="background-circles-element"></div>
</div>