<div class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-xs-3 no-padding-right">
                <ul class="conversation-list" ng-scrollbars ng-scrollbars-config="config">
                    <li class="conversation-list-element">
                        <input type="text" class="conversation-list-search-input"
                               placeholder="Search conversation with...">
                    </li>
                    <li class="conversation-list-element" ng-repeat="conversation in conversationList track by $index" ng-class="{'unreaded': conversation.readed=='No'&& conversation.messages[conversation.messages.length - 1].from._id !== $rootScope.currentUserIdTmp}">
                        <a ng-click="joinRoom(conversation);">

                                <span ng-if="conversation.user1._id!==currentUserId">

                           <div class="conversation-list-avatar">
                            <img ng-if="conversation.user1.avatar.currentName"
                                 ng-src="/uploads/{{conversation.user1._id}}/thumb-{{conversation.user1.avatar.currentName}}"
                                 alt="{{conversation.user1.firstName}} {{conversation.user1.lastName}} profile photo">
                                <img ng-if="!conversation.user1.avatar.currentName" ng-src="/images/no-avatar.png"
                                     alt="{{conversation.user1.firstName}} {{conversation.user1.lastName}} profile photo">

                           </div>
                                      <div class="conversation-list-details">
                                    <h4 class="conversation-list-name">
                                        {{conversation.user1.firstName}} {{conversation.user1.lastName}}
                                    </h4>
                                          <p class="conversation-list-date">{{conversation.messages[conversation.messages.length-1].date | date:'dd MMMM yyyy h:mm:ss a'}}</p>
                                          <p class="conversation-list-text">{{conversation.messages[0].message | limitTo:30}}</p>
                                </div>
                                </span>

                            <span ng-if="conversation.user2._id!==currentUserId">
                          <div class="conversation-list-avatar">
                            <img ng-if="conversation.user2.avatar.currentName"
                                 ng-src="/uploads/{{conversation.user2._id}}/thumb-{{conversation.user2.avatar.currentName}}"
                                 alt="{{conversation.user2.firstName}} {{conversation.user2.lastName}} profile photo">
                                <img ng-if="!conversation.user2.avatar.currentName" ng-src="/images/no-avatar.png"
                                     alt="{{conversation.user2.firstName}} {{conversation.user2.lastName}} profile photo">

                           </div>
                                      <div class="conversation-list-details">
                                    <h4 class="conversation-list-name">
                                        {{conversation.user2.firstName}} {{conversation.user2.lastName}}
                                    </h4>
                                                                                    <p class="conversation-list-date">{{conversation.messages[conversation.messages.length-1].date | date:'dd MMMM yyyy h:mm:ss a'}}</p>

                                          <p class="conversation-list-text">{{conversation.messages[0].message | limitTo:30}}</p>
                                </div>
                                </span>


                        </a>
                    </li>

                    <!--ng-href="/messages/{{conversation.user1._id !== currentUserId ? conversation.user1._id:conversation.user2._id}}"-->
                </ul>
            </div>
            <div class="col-xs-7 no-padding-left-right">
                <div class="messages-container" ng-scrollbars ng-scrollbars-config="config">
                    <ul class="messages-list">
                        <li class="messages-list-element" ng-repeat="message in messages track by $index">

                            <div ng-if="message.from._id!==currentUserId">
                                <div class="messages-list-avatar">
                                    <img ng-if="message.from.avatar.currentName" ng-src="/uploads/{{message.from._id}}/thumb-{{message.from.avatar.currentName}}">
                                    <img ng-if="!message.from.avatar.currentName" ng-src="/images/no-avatar.png">
                                </div>
                                <div class="messages-list-alien-message">
                                    {{message.message}}
                                </div>
                                <!--{{message.from.firstName}}-->
                                <!--{{message.from.lastName}}-->
                            </div>
                            <div ng-if="message.from._id==currentUserId" class="messages-list-my-message">
                                {{message.message}}
                                <!--{{message.from.firstName}}-->
                                <!--{{message.from.lastName}}-->
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="messages-textbox-container">
                    <form ng-submit="sendMessage()">


                        <textarea placeholder="Write a message" class="messages-input" name="message.text" ng-model="message.text"></textarea>
                        <button type="submit" class="send-message-input"><span class="glyphicon glyphicon-send"></span></button>
                    </form>
                </div>

            </div>
            <div class="col-xs-2 no-padding-left message-user-info">
                <ul class="conversation-list">
                    <li class="conversation-list-element no-hover" ng-if="alienUser">
                        <div class="profile-shortcut-avatar">
                            <img ng-if="alienUser.avatar.currentName"
                                 ng-src="/uploads/{{alienUser._id}}/thumb-{{alienUser.avatar.currentName}}"
                                 alt="{{alienUser.firstName}} {{alienUser.lastName}} profile photo">
                            <img ng-if="!alienUser.avatar.currentName" ng-src="/images/no-avatar-big.png"
                                 alt="{{alienUser.firstName}} {{alienUser.lastName}} profile photo">

                        </div>
                        <a ng-href="/profile/{{alienUser._id}}" class="profile-shortcut-username">{{alienUser.firstName}} {{alienUser.lastName}}</a>
                        <h6 class="profile-shortcut-place">{{alienUser.placeOfResidence.name}}</h6>
                        <ul class="profile-shortcut-menu">
                            <li class="profile-shortcut-menu-element">
                                <ul class="profile-shortcut-friends">
                                    <li class="profile-shortcut-friends-element">
                                        <a ng-href="/profile/{{alienUser._id}}/following">
                                            <span>Following</span>
                                            <span>{{alienUser.following.length}}</span>
                                        </a>
                                    </li>
                                    <li class="profile-shortcut-friends-element">
                                        <a ng-href="/profile/{{alienUser._id}}/followers">
                                            <span>Followers</span>
                                            <span>{{alienUser.followers.length}}</span>
                                        </a>
                                    </li>
                                </ul>


                            </li>
                            <li class="profile-shortcut-menu-element"><a ng-href="/profile/{{alienUser._id}}/gallery">
                                <span class="gallery-ico"></span>Gallery
                            </a></li>

                        </ul>

                    </li>
                </ul>
            </div>
        </div>

    </div>
</div>