<div class="container auth">
    <form class="form-horizontal col-md-4 col-md-offset-4 col-xs-12" ng-submit="submit()">
        <div class="auth-image">
            <img ng-if="userData.avatar.currentName" ng-src="/uploads/{{userData._id}}/thumb-{{userData.avatar.currentName}}" alt="{{userData.firstName}} {{userData.lastName}} profile photo">
            <img ng-if="!userData.avatar.currentName" ng-src="/images/no-avatar.png" alt="{{userData.firstName}} {{userData.lastName}} profile photo">

        </div>
        <h3 class="auth-username"><span>Hello,</span> {{userData.firstName}} {{userData.lastName}}</h3>
        <!--<input type="email" name="login.email" ng-model="login.email" readonly>-->
        <div class="form-group">
            <input type="password" class="form-control auth-input" name="login.password" ng-model="login.password"
                   placeholder="Password">
        </div>
        <div class="form-group">
            <button type="submit" class="btn auth-action">Login</button>
        </div>
        <a class="auth-forgot-password" href="/userDashboard">I forgot my password</a>
        <p class="auth-footer">It's not me, <a href="/login">try again</a>, or <a href="/register">create account.</a>
        </p>
    </form>
</div>