<div class="container-fluid">

    <div class="container">
        <div class="row">
            <div class="col-xs-3">
                <div class="module profile-user">
                    <div class="profile-user-avatar">
                        <img ng-if="userAvatar" ng-src="/uploads/{{userData._id}}/thumb-{{userAvatar}}" alt="Image">
                        <img ng-if="!userAvatar" src="/images/no-avatar-big.png" alt="Image">

                    </div>
                    <h3 class="profile-user-name">{{userData.firstName}} {{userData.lastName}}</h3>
                    <h3 class="profile-user-city">{{userData.placeOfResidence.name}}</h3>
                    <ul class="profile-user-nav">
                        <li class="profile-user-nav-element ">
                            <ul class="profile-user-nav-friends">
                                <li class="profile-user-nav-friends-element">
                                    <a ng-href="/profile/{{userData._id}}/following">
                                        <span>Following</span>
                                        <span>{{following}}</span>
                                    </a>
                                </li>
                                <li class="profile-user-nav-friends-element">
                                    <a ng-href="/profile/{{userData._id}}/followers">
                                        <span>Followers</span>
                                        <span>{{followers}}</span>
                                    </a>
                                </li>
                            </ul>


                        </li>
                        <li class="profile-user-nav-element following" ng-hide="!isFriend || isValidUser">

                            <a href="#" class="following"
                               ng-click="removeFriend()"><span>Following</span><span>Unfollow</span></a>
                        </li>
                        <li class="profile-user-nav-element follow" ng-hide="isFriend || isValidUser">
                            <a href="#" class="follow" ng-click="addToFriends()">Follow</a>
                        </li>
                        <li class="profile-user-nav-element" ng-hide="isValidUser">
                            <a ng-href="/messages/{{userData._id}}" class="message" ng-click="chatWith(userData._id)">Message</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-xs-9" ng-if="!isMyProfile">
                <div class="comparison-chart">
                    <div class="comparison-chart-heart" ng-style="chartHeartMargin"><span
                            class="glyphicon glyphicon-heart"></span>
                        <span class="comparison-chart-percentage">{{comparisonPoints*10}}%</span></div>

                    <div class="comparison-chart-line" ng-style="chartPercentage"></div>
                </div>
            </div>
            <div class="profile-gallery">
                <div class="col-xs-2" ng-hide="!isValidUser"><a href="#" ng-click="showAdvanced($event)"
                                                                class="profile-gallery-element add-photo">
                    <span class="glyphicon glyphicon-camera"></span> Add picture</a>
                </div>
                <div class="col-xs-2" ng-repeat="img in gallery | limitTo: galleryLength"><a ng-href="/profile/{{userData._id}}/gallery/{{img._id}}"
                                                                                 class="profile-gallery-element"><img
                        ng-src="/uploads/{{userData._id}}/thumb-{{img.currentName}}"></a>
                </div>

                <div class="col-xs-1"><a ng-href="/profile/{{userData._id}}/gallery"
                                         class="profile-gallery-element show-more text-center">+
                    {{userData.gallery.length}}</a>
                </div>
            </div>
            <div class="col-xs-9">

                <div class="module profile-info">
                    <div class="profile-info-row">
                        <form ng-submit="submitBasic()">
                            <h3 class="module-header no-padding-left-right">Basic info
                                <div ng-class="{'hide': !isValidUser}">
                                <span
                                        class="edit glyphicon glyphicon-pencil"
                                        ng-class="{'hide': isActiveBasic}"
                                        ng-click="editSection('basic')"></span>
                                    <span
                                            class="edit glyphicon glyphicon-remove hide"
                                            ng-class="{'show': isActiveBasic}"
                                            ng-click="cancelSection('basic')"></span>
                                    <button type="submit" ng-click="editSection('basic')"
                                            class="save glyphicon glyphicon-floppy-disk"
                                            ng-class="{'hidden':!isActiveBasic}"></button>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Date of birth</label>
                                        <md-datepicker class="" ng-model="userData.date" md-placeholder="Enter date"
                                                       required ng-disabled="!isActiveBasic"></md-datepicker>

                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Place pf birth</label>
                                        <input vs-google-autocomplete
                                               ng-model="placeOfBirth.name"
                                               vs-place="placeOfBirth.place"
                                               vs-place-id="placeOfBirth.components.placeId"
                                               vs-street-number="placeOfBirth.components.streetNumber"
                                               vs-street="placeOfBirth.components.street"
                                               vs-city="placeOfBirth.components.city"
                                               vs-state="placeOfBirth.components.state"
                                               vs-country-short="placeOfBirth.components.countryCode"
                                               vs-country="placeOfBirth.components.country"
                                               vs-post-code="placeOfBirth.components.postCode"
                                               vs-district="placeOfBirth.components.district"
                                               vs-latitude="placeOfBirth.components.location.lat"
                                               vs-longitude="placeOfBirth.components.location.long"

                                               type="text"
                                               name="placeOfBirth"
                                               class="form-control profile-info-input"
                                               placeholder="Enter address"
                                               ng-disabled="!isActiveBasic">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Place of residence</label>
                                        <input vs-google-autocomplete
                                               ng-model="placeOfResidence.name"
                                               vs-place="placeOfResidence.place"
                                               vs-place-id="placeOfResidence.components.placeId"
                                               vs-street-number="placeOfResidence.components.streetNumber"
                                               vs-street="placeOfResidence.components.street"
                                               vs-city="placeOfResidence.components.city"
                                               vs-state="placeOfResidence.components.state"
                                               vs-country-short="placeOfResidence.components.countryCode"
                                               vs-country="placeOfResidence.components.country"
                                               vs-post-code="placeOfResidence.components.postCode"
                                               vs-district="placeOfResidence.components.district"
                                               vs-latitude="placeOfResidence.components.location.lat"
                                               vs-longitude="placeOfResidence.components.location.long"

                                               type="text"
                                               name="placeOfResidence"
                                               class="form-control profile-info-input"
                                               placeholder="Enter address"
                                               ng-disabled="!isActiveBasic">
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                    <div class="profile-info-row">
                        <form ng-submit="submitBody()">
                            <h3 class="module-header no-padding-left-right">Body
                                <div ng-class="{'hide': !isValidUser}">
                                <span
                                        class="edit glyphicon glyphicon-pencil"
                                        ng-class="{'hide': isActiveBody}"
                                        ng-click="editSection('body')"></span>
                                    <span
                                            class="edit glyphicon glyphicon-remove hide"
                                            ng-class="{'show': isActiveBody}"
                                            ng-click="cancelSection('body')"></span>
                                    <button type="submit" ng-click="editSection('body')"
                                            class="save glyphicon glyphicon-floppy-disk"
                                            ng-class="{'hidden':!isActiveBody}"></button>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Height</label>
                                        <!--<input type="text" class="form-control profile-info-input"-->
                                        <!--name="userData.height"-->
                                        <!--ng-model="userData.height" placeholder="Email"-->
                                        <!--ng-readonly="!isActiveBody">-->
                                        <input required class="form-control profile-info-input" type="number"
                                               string-to-number step="any" name="userData.height"
                                               ng-model="userData.height" ng-readonly="!isActiveBody"/>

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Hair</label>
                                        <md-select ng-model="userData.hair" ng-disabled="!isActiveBody" aria-label="Hair">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-repeat="hairEl in hair" ng-value="hairEl.name">
                                                {{hairEl.name}}
                                            </md-option>
                                        </md-select>
                                        <!--<input type="text" class="form-control profile-info-input" name="userData.hair"-->
                                        <!--ng-model="userData.hair" placeholder="Email"-->
                                        <!--ng-readonly="!isActiveBody" ng-if="!isActiveBody">-->

                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Eyes</label>
                                        <md-select ng-model="userData.eyes" ng-disabled="!isActiveBody" aria-label="Eye color">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-repeat="eyeColor in eyesColors" ng-value="eyeColor.name">
                                                {{eyeColor.name}}
                                            </md-option>
                                        </md-select>
                                        <!--<input type="text" class="form-control profile-info-input" name="userData.eyes"-->
                                        <!--ng-model="userData.eyes" placeholder="Email"-->
                                        <!--ng-readonly="!isActiveBody" ng-if="!isActiveBody">-->
                                    </div>
                                </div>
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Figure</label>
                                        <md-select ng-model="userData.figure" ng-disabled="!isActiveBody" aria-label="Figure">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-repeat="figureEl in figure" ng-value="figureEl.name">
                                                {{figureEl.name}}
                                            </md-option>
                                        </md-select>
                                        <!--<input type="text" class="form-control profile-info-input"-->
                                        <!--name="userData.figure"-->
                                        <!--ng-model="userData.figure" placeholder="Email"-->
                                        <!--ng-readonly="!isActiveBody" ng-if="!isActiveBody">-->
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="profile-info-row">
                        <form ng-submit="submitBody()">
                            <h3 class="module-header no-padding-left-right">Education
                                <div ng-class="{'hide': !isValidUser}">
                                <span
                                        class="edit glyphicon glyphicon-pencil"
                                        ng-class="{'hide': isActiveEducation}"
                                        ng-click="editSection('education')"></span>
                                    <span
                                            class="edit glyphicon glyphicon-remove hide"
                                            ng-class="{'show': isActiveEducation}"
                                            ng-click="cancelSection('education')"></span>
                                    <button type="submit" ng-click="editSection('education')"
                                            class="save glyphicon glyphicon-floppy-disk"
                                            ng-class="{'hidden':!isActiveEducation}"></button>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Education level</label>
                                        <md-select ng-model="userData.educationLevel" ng-if="isActiveEducation">
                                            <md-option><em>None</em></md-option>
                                            <md-option ng-repeat="educationEl in educationLevel"
                                                       ng-value="educationEl.name">
                                                {{educationEl.name}}
                                            </md-option>
                                        </md-select>
                                        <input type="text" class="form-control profile-info-input"
                                               name="userData.educationLevel"
                                               ng-model="userData.educationLevel" placeholder="Email"
                                               ng-readonly="!isActiveEducation" ng-if="!isActiveEducation">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">School type</label>
                                        <md-select ng-model="userData.schoolType"
                                                   placeholder="Select school type"
                                                   md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   ng-click="getUniversityCourses()"
                                                   ng-disabled="!isActiveEducation" ng-if="isActiveEducation">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for a job"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="vegetables">
                                                <md-option ng-value="univeristyCourse.name" ng-repeat="univeristyCourse in univeristyCoursesList |
                                        filter:searchTerm">{{univeristyCourse.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>

                                        <input type="text" class="form-control profile-info-input"
                                               name="userData.schoolType"
                                               ng-model="userData.schoolType" placeholder="Email"
                                               ng-readonly="!isActiveEducation" ng-if="!isActiveEducation">
                                    </div>
                                </div>
                                <div class="col-xs-4">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Date of completion</label>

                                        <md-datepicker class="" ng-model="userData.dateOfCompletion"
                                                       md-placeholder="Enter date"
                                                       required ng-disabled="!isActiveEducation"></md-datepicker>

                                    </div>
                                </div>

                            </div>
                        </form>
                    </div>
                    <div class="profile-info-row">
                        <form ng-submit="submitBody()">
                            <h3 class="module-header no-padding-left-right">Career
                                <div ng-class="{'hide': !isValidUser}">
                                <span
                                        class="edit glyphicon glyphicon-pencil"
                                        ng-class="{'hide': isActiveCareer}"
                                        ng-click="editSection('career')"></span>
                                    <span
                                            class="edit glyphicon glyphicon-remove hide"
                                            ng-class="{'show': isActiveCareer}"
                                            ng-click="cancelSection('career')"></span>
                                    <button type="submit" ng-click="editSection('career')"
                                            class="save glyphicon glyphicon-floppy-disk"
                                            ng-class="{'hidden':!isActiveCareer}"></button>
                                </div>
                            </h3>
                            <div class="row">
                                <div class="col-xs-3">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Current job</label>
                                        <div ng-if="!isActiveCareer">
                                            {{userData.job}}
                                        </div>
                                        <md-select ng-model="userData.jobsList"
                                                   placeholder="Select job"
                                                   md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   ng-click="getJobs()"
                                                   ng-disabled="!isActiveCareer" ng-if="isActiveCareer">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for a job"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="vegetables">
                                                <md-option ng-value="job.name" ng-repeat="job in jobsList |
                                        filter:searchTerm">{{job.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>

                                    </div>
                                </div>
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        <label class="profile-info-subtitle">Hobby</label>
                                        <ul ng-if="!isActiveCareer">
                                            <li ng-repeat="hobby in userData.hobbies">{{hobby}}</li>
                                        </ul>
                                        <!--<textarea type="text" class="form-control profile-info-input"-->
                                        <!--name="userData.schoolType"-->
                                        <!--ng-model="userData.hobbies" placeholder="Email"-->
                                        <!--ng-readonly="!isActiveCareer" ></textarea>-->

                                        <md-select ng-model="userData.hobbiesList"
                                                   placeholder="Select hobbies"
                                                   md-on-close="clearSearchTerm()"
                                                   data-md-container-class="selectdemoSelectHeader"
                                                   ng-click="getHobbies()"
                                                   multiple ng-if="isActiveCareer">
                                            <md-select-header class="demo-select-header">
                                                <input ng-model="searchTerm"
                                                       type="search"
                                                       placeholder="Search for a hobby"
                                                       class="demo-header-searchbox md-text">
                                            </md-select-header>
                                            <md-optgroup label="hobbies">
                                                <md-option ng-value="hobby.name" ng-repeat="hobby in hobbiesList |
                                        filter:searchTerm">{{hobby.name}}
                                                </md-option>
                                            </md-optgroup>
                                        </md-select>
                                    </div>
                                </div>


                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <style>

        .nv-file-over {
            background-color: #FFBEA3;
        }

        .drop-zone {
            border: 2px dashed burlywood;
            padding: 4px;
            height: 100px;
        }

        .other-over-zone {
            background-color: moccasin;
        }

        .bg {
            background-color: lightgreen;
        }

        .over-zone {
            border: 2px dashed lavender;
            height: 100px;
            padding: 4px;
        }

        .item-progress-box {
            height: 20px;
            margin-top: -20px;
            margin-left: 60px;
            margin-right: 10px;
        }

        .item-progress {
            background-color: #90B8DA;
            height: 100%;
            width: 0;
        }

        .total-progress-box {
            height: 20px;
            margin-top: -20px;
            margin-left: 90px;
            margin-right: 10px;
        }

        .total-progress {
            background-color: #90B8DA;
            height: 100%;
            width: 0;
        }

        .box {
            margin: 20px;
        }

        .progress {
            background-color: mediumpurple;
            height: 20px;
        }

        .uploaded {
            background-color: lightgreen;
            height: 20px;
            width: 100px;
        }


    </style>
    <script type="text/ng-template" id="dialog1.html">

        <md-dialog aria-label="Mango (Fruit)" flex="50">
            <form ng-cloak>
                <md-toolbar>
                    <div class="md-toolbar-tools">
                        Add pictures
                        <span flex></span>
                        <md-button class="md-icon-button" ng-click="cancel()">
                            <span class="glyphicon glyphicon-remove"></span>
                        </md-button>
                    </div>
                </md-toolbar>

                <md-dialog-content>
                    <div class="md-dialog-content">
                        <div class="upload">
                            <!-- 3. nv-file-over uploader="link" over-class="className" -->
                            <div class="upload-container" ng-show="uploader.isHTML5">
                                <!-- Example: ng-file-drop | ng-file-drop="options" -->
                                <div class="upload-drag-zone" nv-file-drop="" nv-file-over="" uploader="uploader"
                                     options="{url: '/api/userProfile/590b8f15d3acb3682dd3584d/files'}"
                                     over-class="other-over-zone" class="other-drop-zone zone" style="float: right;">

                                    <span><img src="../../../images/icons/upload-ico.png" alt="upload"></span>
                                    <h2 class="upload-drag-title">Drag&Drop</h2>
                                    <p class="upload-drag-subtitle">files here, or click and browse</p>
                                </div>
                                <input class="upload-file-browse" type="file" nv-file-select="" uploader="uploader"
                                       multiple title="Wybierz plik"/>

                                <div style="clear: both;"></div>
                            </div>

                            <br/>

                            <!-- Example: nv-file-select="" uploader="{Object}" options="{Object}" filters="{String}" -->
                            <h4 ng-class="{'hidden':!uploader.getNotUploadedItems().length}">You have selected: {{
                                uploader.queue.length }} photo(s)</h4>

                            <ul class="upload-preview-list">
                                <li class="upload-preview-list-element" ng-repeat="item in uploader.queue">
                                    <!--<div>Name: {{ item.file.name }}</div>-->
                                    <!--<div>Size: {{ item.file.size/1024/1024|number:2 }} Mb</div>-->

                                    <div ng-show="uploader.isHTML5">
                                        Progress: {{ item.progress }}
                                        <div class="item-progress-box">
                                            <div class="item-progress"
                                                 ng-style="{ 'width': item.progress + '%' }"></div>
                                        </div>
                                    </div>
                                    <div ng-if="controller.isImage(item._file)">
                                        <!--Thumbnail (only images):-->
                                        <!-- Image preview -->
                                        <!--auto height-->
                                        <!--<div ng-thumb="{ file: item.file, width: 100 }"></div>-->
                                        <!--auto width-->
                                        <div class="btn-group upload-preview-list-element-options">
                                            <button type="button" class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="glyphicon glyphicon-pencil"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li><a href="#" ng-click="">Ustaw jako zdjęcie profilowe</a></li>

                                                <li role="separator" class="divider"></li>
                                                <li><a href="#a" ng-click="item.remove()">Usuń zdjęcie</a></li>
                                            </ul>
                                        </div>
                                        <div class="upload-preview-list-thumb"
                                             ng-thumb="{ file: item._file, height: 100 }"></div>
                                        <!--fixed width and height -->
                                        <!--<div ng-thumb="{ file: item.file, width: 100, height: 100 }"></div>-->
                                        <!--<button  class="btn btn-default"><span-->
                                        <!--class="glyphicon glyphicon-remove"></span></button>-->
                                    </div>
                                    <div>
                                        <!--<button ng-click="item.upload()"-->
                                        <!--ng-disabled="item.isReady || item.isUploading || item.isSuccess">Upload-->
                                        <!--</button>-->
                                        <!--<button ng-click="item.cancel()" ng-disabled="!item.isUploading">Cancel</button>-->

                                    </div>
                                </li>
                            </ul>
                            <div>
                                <div>
                                    <div class="total-progress-box"
                                         ng-class="{'hidden':!uploader.getNotUploadedItems().length}">
                                        <!--Total progress: {{ uploader.progress }}-->
                                        <div class="total-progress"
                                             ng-style="{ 'width': uploader.progress + '%' }"></div>
                                    </div>
                                </div>
                                <button ng-click="uploader.uploadAll()"
                                        ng-class="{'hidden':!uploader.getNotUploadedItems().length}"
                                        ng-disabled="!uploader.getNotUploadedItems().length" class="btn btn-primary">
                                    Upload all
                                </button>
                                <!--<button ng-click="uploader.cancelAll()" ng-disabled="!uploader.isUploading">Cancel all-->
                                <!--</button>-->
                                <button ng-click="uploader.clearQueue()" ng-class="{'hidden':!uploader.queue.length}"
                                        ng-disabled="!uploader.queue.length"
                                        class="btn btn-remove">Remove
                                    all
                                </button>
                            </div>
                        </div>

                    </div>
                </md-dialog-content>

                <md-dialog-actions layout="row">

                    <span flex></span>

                    <!--<md-button ng-click="cancel()" class="md-primary">-->
                    <!--Close-->
                    <!--</md-button>-->
                </md-dialog-actions>
            </form>
        </md-dialog>
    </script>

    <div class="background-board" ng-class="backgroundStateClass"></div>

    <!--<md-button class="md-primary md-raised" >Open Dialog</md-button>-->

</div>