<div class="container-fluid">
    <div class="container">
        <div class="col-xs-offset-4 col-xs-4" ng-cloak ng-if="userData===undefined">
            <h4 class="text-center">No matching users</h4>
        </div>
        <div class="col-xs-offset-4 col-xs-4" ng-cloak ng-if="userData!==undefined">
            <h3>Drawn user</h3>
            <div class="roulette-user">
                <div class="roulette-user-avatar">
                    <img ng-if="userData.avatar.currentName"
                         ng-src="/uploads/{{userData._id}}/{{userData.avatar.currentName}}" alt="Image"
                         style="width: 100%;">
                </div>
                <p class="gallery-element-title">
                    {{userData.firstName}} {{userData.lastName}}
                </p>
                <p class="gallery-element-location">
                    <span ng-if="!userData.placeOfResidence.name">&nbsp;</span>

                    {{userData.placeOfResidence.name}}
                </p>
                <ul class="profile-user-nav">

                    <li class="profile-user-nav-element" ng-hide="isValidUser">
                        <a ng-href="/messages/{{userData._id}}" class="message" ng-click="chatWith(userData._id)">Go to
                            messages</a>
                    </li>
                </ul>
            </div>


        </div>

    </div>
</div>
