<div class="tabs" ng-controller="appHeaderController">
    <div class="container">
        <ul class="tabs-list">
            <li class="tabs-list-element"><a ng-class="getClass('/dashboard')" ng-href="/dashboard">Blackboard</a></li>
            <li class="tabs-list-element"><a ng-class="getClass('/suggestions')" href="/suggestions">Suggestions</a></li>
            <li class="tabs-list-element"><a ng-class="getClass('/browse')" href="/browse">Browse</a></li>
            <li class="tabs-list-element"><a ng-class="getClass('/roulette')" href="/roulette">Roulette</a></li>
        </ul>
    </div>
</div>
