<div class="container-fluid">
    <div class="container">
        <ul class="nav nav-pills">
            <li role="presentation"><a href="/admin/users">Show users</a></li>
            <li role="presentation"><a href="/admin/dictionaries">Dictionaries</a>
            </li>
        </ul>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Location</th>
                <th>Date of Birth</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="user in usersList">
                <td>{{user._id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.placeOfResidence.name}}</td>
                <td>{{user.date}}</td>
                <td><span class="glyphicon glyphicon-remove" ng-click="removeUser(user._id)"></span></td>
            </tr>

            </tbody>
        </table>
    </div>
</div>