<div class="container-fluid">
    <div class="container">


        <ul class="nav nav-pills">
            <li role="presentation"><a href="/admin/users">Show users</a></li>
            <li role="presentation"><a href="/admin/dictionaries">Dictionaries</a>
            </li>
        </ul>
        <div class="row">
            <div class="col-xs-12">
                <h3>Hobbies</h3>
                <form class="form-inline" ng-submit="addHobby()">
                    <div class="form-group">
                        <label>Add to dictionary</label>
                        <input type="text" class="form-control" name="hobby" ng-model="hobby" placeholder="Jane Doe">
                    </div>

                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
            <div class="col-xs-3" ng-repeat="hobby in hobbiesList">
                <div class="alert alert-info">
                    {{hobby.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(hobby._id)"></span>-->
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12">
                <h3>Jobs</h3>
                <form class="form-inline" ng-submit="addJob()">
                    <div class="form-group">
                        <label>Add to dictionary</label>
                        <input type="text" class="form-control" name="job" ng-model="job" placeholder="Jane Doe">
                    </div>

                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
            <div class="col-xs-3" ng-repeat="job in jobsList">
                <div class="alert alert-info">

                    {{job.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(job._id)"></span>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>University Courses</h3>
                <form class="form-inline" ng-submit="addUniversity()">
                    <div class="form-group">
                        <label>Add to dictionary</label>
                        <input type="text" class="form-control" name="university" ng-model="university"
                               placeholder="Jane Doe">
                    </div>

                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
            <div class="col-xs-3" ng-repeat="uc in universityCoursesList">
                <div class="alert alert-info">

                    {{uc.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(uc._id)"></span>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <h3>Education level</h3>
                <form class="form-inline" ng-submit="addEducationLevel()">
                    <div class="form-group">
                        <label>Add to dictionary</label>
                        <input type="text" class="form-control" name="education" ng-model="education" placeholder="Jane Doe">
                    </div>

                    <button type="submit" class="btn btn-default">Save</button>
                </form>
            </div>
            <div class="col-xs-3" ng-repeat="el in educationLevelList">
                <div class="alert alert-info">

                    {{el.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(el._id)"></span>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <h3>Eyes Colors</h3>
            <form class="form-inline" ng-submit="addEyes()">
                <div class="form-group">
                    <label>Add to dictionary</label>
                    <input type="text" class="form-control" name="eyes" ng-model="eyes" placeholder="Jane Doe">
                </div>

                <button type="submit" class="btn btn-default">Save</button>
            </form>
            </div>
            <div class="col-xs-3" ng-repeat="eyeColor in eyesColorsList">
                <div class="alert alert-info">

                    {{eyeColor.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(eyeColor._id)"></span>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <h3>Figure</h3>
            <form class="form-inline" ng-submit="addFigure()">
                <div class="form-group">
                    <label>Add to dictionary</label>
                    <input type="text" class="form-control" name="figure" ng-model="figure" placeholder="Jane Doe">
                </div>

                <button type="submit" class="btn btn-default">Save</button>
            </form>
            </div>
            <div class="col-xs-3" ng-repeat="figure in figureList">
                <div class="alert alert-info">

                    {{figure.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(figure._id)"></span>-->
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
            <h3>Hair</h3>
            <form class="form-inline" ng-submit="addHair()">
                <div class="form-group">
                    <label>Add to dictionary</label>
                    <input type="text" class="form-control" name="hair" ng-model="hair" placeholder="Jane Doe">
                </div>

                <button type="submit" class="btn btn-default">Save</button>
            </form>
            </div>
            <div class="col-xs-3" ng-repeat="hair in hairList">
                <div class="alert alert-info">

                    {{hair.name}}
                    <!--<span class="glyphicon glyphicon-remove pull-right" ng-click="removeDictionary(hair._id)"></span>-->
                </div>
            </div>
        </div>
    </div>
</div>