<ul class="friends-list" ng-controller="friendsListController">
    <li class="friends-list-el" ng-repeat="friend in friendsList">
        <a ng-href="/profile/{{friend.user._id}}">
            <span class="friends-list-avatar">
            <img ng-if="friend.user.avatar.currentName" ng-src="/uploads/{{friend.user._id}}/thumb-{{friend.user.avatar.currentName}}" alt="{{friend.user.firstName}} profile photo">
            <img ng-if="!friend.user.avatar.currentName" src="/images/no-avatar.png" alt="{{friend.user.firstName}} profile photo">
            </span>

            <span class="friends-list-details">
                {{friend.user.firstName}} {{friend.user.lastName}}
            </span>
        </a>

    </li>
</ul>