<nav class="main-navbar navbar navbar-default" ng-controller="appHeaderController">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/dashboard">
                <img src="../../../images/logo-small.png" alt="logo">

            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="searchbox navbar-form navbar-left">
                <div class="form-group">
                    <input ng-model="search.data" type="text" class="form-control searchbox-input"
                           ng-blur="hideSearchResults()" placeholder="Search" ng-keydown="searchData($event)">
                    <!---->
                    <ul class="search-results" ng-if="searchResults.length>0" ng-class="{'hide': hideNow}">
                        <li ng-repeat="searchResult in searchResults">
                            <a ng-href="/profile/{{searchResult._id}}">
                                <div class="search-results-image">
                                    <img ng-if="searchResult.avatar.currentName"
                                         ng-src="/uploads/{{searchResult._id}}/thumb-{{searchResult.avatar.currentName}}"
                                         alt="{{searchResult.firstName}} profile photo">
                                    <img ng-if="!searchResult.avatar.currentName" src="/images/no-avatar.png"
                                         alt="{{searchResult.firstName}} profile photo">

                                </div>
                                <div class="search-results-details">
                                    <h5 class="search-results-username">
                                        {{searchResult.firstName}} {{searchResult.lastName}}
                                    </h5>
                                    <p class="search-results-location">{{searchResult.placeOfResidence.name}}</p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
                <span class="btn btn-default searchbox-submit"></span>
            </form>
            <ul class="user-navbar nav navbar-nav navbar-right">
                <li class="user-navbar-notifications dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="user-navbar-counter" ng-if="unreadedNotificationsLength>0">{{unreadedNotificationsLength}}</span>
                    </a>

                    <ul class="dropdown-menu" ng-click="$event.stopPropagation()">
                        <li ng-if="notifications.length==0">
                         <span class="no-notifications">
                            No notifications
                        </span>
                        </li>
                        <li ng-repeat="notification in notifications">
                            <!--{{notification}}-->
                            <div class="single-notification no-wrap">
                            <div class="message-user-avatar">
                                <img ng-if="notification.user.avatar.currentName" ng-src="/uploads/{{notification.user._id}}/thumb-{{notification.user.avatar.currentName}}">
                                <img ng-if="!notification.user.avatar.currentName" ng-src="/images/no-avatar.png">

                            </div>
                            <div class="message-details">
                                <a ng-href="/profile/{{notification.user._id}}" class="message-details-username">

                                    {{notification.user.firstName}} {{notification.user.lastName}}

                                </a>
                                <p class="message-details-text">
                                    <span ng-if="notification.user.gender=='female'">
        if following you                                    </span>
                                    <span ng-if="notification.user.gender=='male'">
                                        is following you
                                    </span>
                                </p>

                            </div>
                            <button class="mark-as-readed" ng-click="markAsReaded(notification)"></button>
                            </div>
                        </li>

                    </ul>
                </li>
                <li class="user-navbar-messages dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <span class="user-navbar-counter" ng-if="unreadedMessages>0">{{unreadedMessages}}</span>
                    </a>

                    <ul class="dropdown-menu" style="padding-bottom: 0;" ng-scrollbars ng-scrollbars-config="config">
                        <li ng-if="messages.length==0">
                                                     <span class="no-notifications">

                           No messages
                                                     </span>
                        </li>
                        <li ng-repeat="message in messages track by $index" ng-class="{'not-readed': message.readed=='No'&& message.messages[message.messages.length - 1].from._id !== headerData._id}"><a ng-href="/messages/"
                                                                               ng-click="joinRoom(message)">
                            <div class="message-user-avatar">
                                <img ng-if="message.user2._id!==currentUserIdTmp&&message.user2.avatar.currentName"
                                     ng-src="/uploads/{{message.user2._id}}/thumb-{{message.user2.avatar.currentName}}">
                                <img ng-if="message.user1._id!==currentUserIdTmp&&message.user1.avatar.currentName"
                                     ng-src="/uploads/{{message.user1._id}}/thumb-{{message.user1.avatar.currentName}}">

                                <img ng-if="message.user1._id!==currentUserIdTmp&&!message.user1.avatar.currentName"
                                     ng-src="/images/no-avatar.png">
                                <img ng-if="message.user2._id!==currentUserIdTmp&&!message.user2.avatar.currentName"
                                     ng-src="/images/no-avatar.png">

                            </div>
                            <div class="message-details">
                                <h4 class="message-details-username">
                                    <span ng-if="message.user2._id!==currentUserIdTmp">
                                {{message.user2.firstName}} {{message.user2.lastName}}</span>
                                    <span ng-if="message.user1._id!==currentUserIdTmp">

                                {{message.user1.firstName}} {{message.user1.lastName}}</span>
                                </h4>
                                <p class="message-details-date">{{message.messages[0].date | date:'dd MMMM yyyy h:mm:ss
                                    a'}}</p>
                                <p class="message-details-text">
                                    {{message.messages[0].message| limitTo:30}}
                                </p>

                            </div>

                        </a>
                        </li>
                        <li ng-if="messages.length!==0" class="show-all-messages"><a ng-href="messages/" ng-click="showAllMessages()">See all messages</a></li>
                    </ul>
                </li>
                <li class="user-navbar-shortcut dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">
                        <div class="user-navbar-avatar">

                            <img ng-if="headerData.avatar.currentName"
                                 ng-src="/uploads/{{headerData._id}}/thumb-{{headerData.avatar.currentName}}"
                                 alt="{{headerData.firstName}} profile photo">
                            <img ng-if="!headerData.avatar.currentName" src="/images/no-avatar.png"
                                 alt="{{headerData.firstName}} profile photo">


                        </div>
                        Hello, <span class="username">{{headerData.firstName}}</span></a>
                    <ul class="dropdown-menu">
                        <li><a ng-href="/profile/{{headerData._id}}">My profile</a></li>
                        <li><a href="#">Another action</a></li>
                        <li><a href="#">Something else here</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a ng-click="logout()">Logout</a></li>

                    </ul>
                </li>
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main-navbar-helper"></div>
