<div class="container-fluid">
    <div class="container">
        <div class="gallery">
            <div ng-repeat="user in userData" class="col-sm-4 col-md-3 col-xs-12 gallery-element">

                <a ng-href="/profile/{{user._id}}">
                    <div class="thumbnail">
                        <img ng-if="user.avatar.currentName" ng-src="/uploads/{{user._id}}/thumb-{{user.avatar.currentName}}"
                             alt="Image">
                        <img ng-if="!user.avatar.currentName" ng-src="/images/no-avatar-big.png"
                             alt="Image">

                    </div>
                    <p class="gallery-element-title">
                        {{user.firstName}} {{user.lastName}}, {{user.currentPoints*10}}%
                    </p>
                    <p class="gallery-element-location">
                        <span ng-if="!user.placeOfResidence.name">&nbsp;</span>

                        {{user.placeOfResidence.name}}
                    </p>
                </a>

            </div>
        </div>
    </div>
</div>